[2011-11-08 02:49] lukasberns opened #1 "Cookies can't be retrieved from store if path ends with a slash"
Hi,

I was playing with your cookies library, and I can't seem to retrieve cookies from store if they were set with a path ending with a slash. The store stores the cookies under the path as in `Cookie.path`, but `MemoryCookieStore.findCookies` looks for matching results of `permutePath`, which strips the trailing slash.

i.e.

[code]

produces something like

[code]

while `MemoryCookieStore.find

[2011-11-08 17:03] #1 closed, assigned to nobody

[2012-02-02 18:22] ianlivingstone opened #3 "Cookie.expiryTime() returns Date time string"
`cookie.expiryTime()`returns time string `new Date().getTime()` instead of the seconds since epoch when an expiry time is set and a max age is not specified.

[2012-02-02 18:24] #3 closed, assigned to nobody

[2012-08-07 18:35] kgilpin opened #4 "File-based cookie store"
Has anyone done a file-based cookie store? Just wondering.

[2012-10-26 08:54] shiedman opened #5 "store.removeCookies not works"
var toughCookie=require('tough-cookie'),
    cookiejar=new toughCookie.CookieJar();
cookiejar.setCookie('msg=1; Domain=example.com; Path=/; Max-Age=1','http://www.example.com', function(err,cookie){});
cookiejar.store.removeCookies('example.com','/',function(){});
setTimeout(function(){
    cookiejar.store.findCookies('example.com','/',function(err,cookies){
        console.log('cookies: %d',cooki

[2013-01-25 16:47] davidcornu opened #6 "package.json keywords"
May I suggest changing the `keywords` value in `package.json` to an array? NPM is parsing it as individual letters (https://npmjs.org/package/tough-cookie).

![Screen Shot 2013-01-25 at 11 45 59 AM](https://f.cloud.github.com/assets/325821/97964/b7e3dbca-670e-11e2-822f-9d6ebb424f02.png)

[2013-01-25 17:36] #6 closed, assigned to nobody

[2013-11-28 21:39] aik099 opened #8 "Quoted cookie values problem"
In https://github.com/assaf/zombie/issues/613 I've faced a problem where cookies with values built from latin characters and comma/underscore gets quoted, which produces cookie header, that later can't be parsed by PHP.

Are ranges (https://github.com/goinstant/node-cookie/blob/master/lib/cookie.js#L41-L42) used to determine quote cookie value or not later in https://github.com/goinstant/node-cook

[2014-01-06 19:18] stash opened #9 "Cookie.parse should be directly usable from map"
`Cookie.parse` was changed a while ago to accept a second `strict` boolean parameter.  This makes it no longer possible to pass it directly to `Array#map`, since that passes a integer index as the second parameter (see #7).

As a breaking API change, make `Cookie.parse` always use non-strict mode and `Cookie.parseStrict` always use strict mode.

[2014-01-06 19:21] stash opened #10 "Parse "bare" cookies in non-strict mode"
Some cookies with an empty value can look like `name` instead of `name=`.  These should be parse-able in non-strict mode and round-tip when serializing to strings.

[2014-01-06 19:23] stash opened #11 "Synchronous interface for the memory store"
The Jar should allow synchronous operation when used with a Memory Store.  Perhaps `storeSync`, `removeSync`, etc.

[2014-01-06 20:39] stash opened #12 "Remove public-suffix code and use tld.js"
https://github.com/oncletom/tld.js provides the public-suffix code in its own module; should re-use that rather than having our own.

[2014-01-10 21:45] #8 closed, assigned to nobody

[2014-01-14 00:48] #5 closed, assigned to nobody

[2014-01-14 00:48] #11 closed, assigned to nobody

[2014-02-04 00:11] stash opened #16 "Some valid hostnames get rejected as having a public suffix"
unknown TLDs seem to result in failure!

[code]

[2014-04-06 12:15] s2dent opened #18 "Save to file"
Hi.
How to save all cookies in file?
And how to load them back into the tough-cookie?

[2014-06-27 09:36] Sironfoot opened #19 "Incorrect cookie date handling (expires dates) - maybe?"
Boots.com website returns cookies with expires values that look like this:

[code]

Notice the years are 2 digits only. But when they are parsed with tough-cookie like so:

[code]

...the output I get is:

[code]

Note the year 142000. For an example page on Boots.com that returns lots of cookies check out the login page at https://www.boots.com/webapp/wcs/stores/servlet/LogonForm?storeId=10052&la

[2014-07-23 12:55] osxpinot opened #22 "Request with tough cookie causes Seg Fault"
Hello,

Thank you for your work. The follow code causes a segmentation fault, crashing my app.

[code]

Unfortunately, I lost the stack trace, which could only be obtained by running through gdb with a specially compiled version of node.

But it seems that whatever data is getting passed into tough cookie, is causing a problem at this line:
https://github.com/goinstant/tough-cookie/blob/master/lib

[2014-08-15 08:55] alinex opened #23 "Can't install v0.12.1"
It will break on install, but 0.12.0 will get installed.

    37 info install tough-cookie@0.12.1 into /home/alex/a3/node-make
    38 info installOne tough-cookie@0.12.1
    39 info /home/alex/a3/node-make/node_modules/tough-cookie unbuild
    40 verbose tar unpack /home/alex/.npm/tough-cookie/0.12.1/package.tgz
    41 silly lockFile 3ac4f026-e-make-node-modules-tough-cookie tar:///home/alex/a3/no

[2014-09-23 06:11] coolaj86 opened #24 "how to serialize / deserialize?"
If I have a cookie jar such as `jar = new CookieJar()` how to I serialize that to JSON and then deserialize back to a CookeJar?

[2014-10-28 12:18] szaheer27 opened #25 "Cookie message?"
How can I implement a cookie pop-up window into this? So it appears when a user visits the site for the first time or when their cookies have been cleared

[2014-10-28 12:50] #25 closed, assigned to nobody

[2014-11-19 14:23] DNizovtsev opened #26 "Cookies with lead '.' does not work properly"
Looks problem in permuteDomain function:

var cookie = new TOUGH.Cookie({
    domain : '.google.com',
    path: '/',
    key : 'test01',
    value: 'value01'
});

var cookiejar = new TOUGH.CookieJar();
cookiejar.setCookie(cookie, 'http://www.google.com/', function () {
    cookiejar.getCookies('http://www.google.com',function (err, cookie) {
            console.log(cookie);
    });
});

output:
[]

[2014-12-09 20:07] MarkSwanson opened #27 "SyntaxError"
I upgraded to node 0.11/npm 2.0 so I could workaround an issue.
Now I'm having an issue with tough-cookie:
(it doesn't compile)

...project//node_modules/tough-cookie/lib/pubsuffix.js:68
});

SyntaxError: Unexpected end of input
    at exports.runInThisContext (vm.js:73:16)
    at Module._compile (module.js:443:25)
    at Object.Module._extensions..js (module.js:478:10)
    at Module.load (module.

[2015-01-18 03:36] lalitkapoor commented on #19
@stash any progress on this?

[2015-02-27 15:53] syndr0m opened #28 "Bug inside the RFC6265 S5.1.1 date parser parseDate() on days 29, 30, 31"
Every date on a day 29, 30 or 31 are wrongly parsed if the current date month has less days than the parsed one.

Small exemple of a cookie expiring on Mars 29 parsed Mars 01 :
[code]

This is a bug inside parseDate() ( https://github.com/goinstant/tough-cookie/blob/master/lib/cookie.js#L91 )

The parser is looping on date's tokens : "Sun", "29", "Mar", "2015", "15:13:10", "GMT"
The parser is usin

[2015-03-05 19:00] seanstrom opened #29 "Clone Cookie Jar / Get all Cookies from Cookie Store"
Based on a discussion here https://github.com/request/request/pull/1458
We have a situation where we want to clone a CookieJar. I'm not completely clear on the "why" we want to do this, but we started to explore the "how". I'm wondering if anyone here has any recommendation on how to clone a CookieJar or at least how to get all the cookies from a CookieJar so we can manually clone it.

[2015-03-16 13:33] gebrits commented on #26
@DNizovtsev were you able to resolve this?
Having the exact same problem.

[2015-03-23 15:00] JSBizon commented on #26
@gebrits No need use cookies with lead dots. Why do you use them?

[2015-03-24 15:34] gebrits commented on #26
@JSBizon: indeed. Followed format for wildcard domains as given by chrome web developer plugin, which show leading dot. After removing the dot all works as expected.

[2015-03-24 16:35] JSBizon commented on #26
@gebrits maybe chrome web developer plugin uses Netscape format file for store cookies.

[2015-03-30 20:41] stash commented on #26
Sorry for the delayed response. I think what's happening is that the underlying `MemoryStore` doesn't use the canonicalized domain name to do its indexing. So, when getCookies looks there's nothing under "google.com".  This only happens for the above case where you construct the cookie instead of parsing it from a Set-Cookie string.

It's also true that the leading dot is completely unnecessary. A

[2015-03-30 20:45] stash commented on #28
Sorry for the delayed response. This seems pretty serious so I'll try to get a fix going right away.

[2015-04-04 20:55] JSBizon commented on #26
You may use my cookies store https://github.com/JSBizon/file-cookie-store for parsing these kind of files.

[2015-04-13 17:54] GuillaumeLeclerc commented on #24
Same problem here :+1:

[2015-04-13 18:01] GuillaumeLeclerc commented on #24
It seems `JSON.stringify` did the trick for me.

[2015-04-17 20:15] lucaswxp commented on #29
+1

I need to be able to serialize a cookie jar and recreate it later in another server. Is this possible? Getting all the cookies from a jar is a start..

Right now I'm trying to inspect the jar.store property, but without much success.

[2015-04-17 21:23] lucaswxp commented on #29
After some time trying, I came up with this three functions:

[code]

If you want a clone of a jar, just do `clonedJar = cookieJarClone(jar)`

[2015-04-23 15:28] domenic opened #31 "Do a 1.0.0 release and start following semver"
It would be great to be able to depend on getting feature updates and bugfixes in jsdom. Since the module is below version 1.0.0 right now we have no idea what will change in each release.

[2015-04-23 22:12] stash-sfdc commented on #31
I think the API is pretty stable and philosophically I agree with you.

Are there any features or API you consider missing? (cc @inikulin)

[2015-04-23 22:16] stash-sfdc commented on #31
https://github.com/SalesforceEng/tough-cookie/issues/9 is the only API-breaking change I'd like to make.

[2015-04-23 22:18] #23 closed

[2015-04-23 22:25] stash-sfdc commented on #31
cc @lalitkapoor

[2015-04-23 22:37] lalitkapoor commented on #31
I agree, I think this has been pretty stable for a while and happy to see it follow semver. I'd like to look at 2 bugs, but definitely not preventing a v1.0.0 release.

- https://github.com/SalesforceEng/tough-cookie/issues/16
- https://github.com/SalesforceEng/tough-cookie/issues/19 (request lib users have experienced this bug)

[2015-04-24 09:17] inikulin commented on #19
Fixed in #30. Released with tough-cookie@0.13.0.

[2015-04-24 09:17] #19 closed

[2015-04-24 09:22] inikulin commented on #31
@lalitkapoor #19 was fixed with #30.
@stash-sfdc The thing that bothers me most is the strict mode. If enabled it doesn't pass IETF's tests, therefore currently non-strict mode is stricter than "strict" mode. I suggest to get rid of "strict" mode. I can issue a PR if you are OK with it.

[2015-04-24 09:38] inikulin opened #32 "tough-cookie throws exception on malformed URI"
Сode to reproduce the problem:
[code]

[2015-04-24 09:51] #32 closed

[2015-04-24 09:53] inikulin opened #33 "Setup Travis CI and update builds badge."
\cc @stash-sfdc
It would be nice to have this done, but I don't have permissions to do that.

[2015-04-24 09:56] inikulin commented on #28
Fixed in #30. Released with tough-cookie@0.13.0.

[2015-04-24 09:56] #28 closed

[2015-04-24 15:13] stash-sfdc commented on #31
@inikulin :+1: if it actually isn't compliant, I'm OK with that. It will reduce a lot of complexity, both from the code and the API. If you don't have time, let me know and I'll take it on. :)

[2015-04-24 15:41] stash-sfdc commented on #33
OK, I'll look into this. I need to do it for all the modules I brought over.

[2015-04-24 15:58] inikulin commented on #31
@stash-sfdc I'll take care of it at Monday.

[2015-04-24 16:24] stash-sfdc opened #34 "Remove Strict Mode"
Via @inikulin:

In the interest of simplicity and compliance, we should remove this mode prior to 1.0.  This means an API breaking change, so let's maintain it on a "1.0-pre" branch in case we need to apply fixes to 0.x (currently 0.13)

[2015-04-24 16:25] stash-sfdc commented on #31
@inikulin ok, see #34

[2015-04-24 16:28] stash-sfdc opened #35 "Remove punycode dependency"
Back in ye olde days of node 0.4.x, `punycode` was an NPM module. This is no longer the case. Change the node.js dependency to be at least 0.10

[2015-04-24 16:28] stash-sfdc commented on #35
I think that's when punycode came into core, but either way, I don't feel comfortable supporting < 0.10

[2015-04-24 17:59] stash-sfdc commented on #33
OK, should be done!

[2015-04-24 17:59] #33 closed

[2015-04-27 13:07] inikulin commented on #34
Forgot to switch remotes at first, sorry for that. Reverted and issued as pull request.

[2015-04-28 01:30] #9 closed

[2015-04-28 01:30] #34 closed

[2015-04-28 01:32] stash-sfdc commented on #31
OK, just waiting for #16 now - there's a PR in the pipeline.

[2015-04-28 01:33] stash-sfdc commented on #31
Er, wait, that doesn't need to be fixed for 1.0.x. I'll cut the release soon.

[2015-04-28 01:39] stash-sfdc commented on #31
tough-cookie@1.0.0 published to NPM.

[2015-04-28 01:39] #31 closed

[2015-04-28 16:56] #16 closed

[2015-04-28 18:10] #35 closed

[2015-05-10 07:00] lalitkapoor commented on #18
Consider settng the cookie store to a file store. Such as https://github.com/mitsuru/tough-cookie-filestore

[2015-05-16 10:26] apsavin opened #39 "export MemoryCookieStore"
Hi @stash!

Can we export MemoryCookieStore? So the users will be able to inherit from it.
I can send a PR, but the changes will be very small, as you understand.

[2015-05-20 00:14] stash-sfdc commented on #39
Yes, it should be exported. I look forward to the PR :)

If the goal is serialization, the gotcha in serialization is picking a format for the dates so that round-trip they retain accuracy. JSON doesn't do that automatically.

[2015-05-20 06:16] apsavin commented on #39
What about the same format that we use in Cookie#toString?

[2015-05-20 08:19] inikulin commented on #39
It would be nice to move important business logic from the memory store to the base abstract class. So the only thing that should be implemented for the end-user store will be persistance strategy.

[2015-05-23 00:16] stash-sfdc commented on #39
@inikulin that would be ideal. What I struggled with is a way to make the base class work with all the different types of indexing. There's at least three types: exact keys (e.g. redis, where you need to query on the permutation of domains and paths), radix indexing (bucketing after splitting on domain/path separators), and b-tree indexing (e.g. SQL prefix matching on path, suffix matching on doma

[2015-05-23 00:17] stash-sfdc commented on #39
@apsavin my mistake, I forgot this has already has been done. See `Cookie.fromJSON` which expects the dates to be in ISO format. Tests are in `test/cookie_to_json_test.js`

[2015-05-24 12:49] inikulin commented on #27
@MarkSwanson Is issue still exists with stable node v12.0?

[2015-05-24 12:53] inikulin commented on #29
Seems can be implemented in context of #24

[2015-05-24 12:54] inikulin commented on #29
PR is welcome, BTW

[2015-05-24 12:57] #18 closed

[2015-05-24 13:01] inikulin commented on #22
Seems like a bug in the one of the unstable versions of node, rather than issue with tough-cookie.
@osxpinot Can you confirm that issue still exists with the stable node 12 or 10 or io.js?

[2015-05-25 16:43] #39 closed

[2015-05-25 16:52] stash-sfdc commented on #39
FWIW, I'm going to work on a simple JSON exporter today. Going to try make something that should work for any `Store` that wants to implement it.

[2015-05-25 17:56] stash-sfdc commented on #29
I'm going to try implement a jar-to-JSON feature today.

[2015-05-25 18:30] stash-sfdc opened #41 "Idea: new Store that bridges Mozilla cookies.sqlite format"
This definitely belongs in a separate NPM module. Working on a JSON serialization format made me wonder what Firefox was using. It seems to be an SQLite database file.

Overview: http://fileformats.archiveteam.org/wiki/Firefox_cookie_database

Official details: http://kb.mozillazine.org/Cookies

[2015-05-25 18:32] stash-sfdc commented on #41
So, an async -- as opposed to `synchronous` like `MemoryCookieStore` -- would be really neat here since the data model mirrors almost exactly what tough-cookie expects.  Not surprising, really, but still neat.

Wonder if Moz uses any kind of standard locking to control concurrency or if we have to tell folks "make a copy before modifying or you'll kill Firefox".

[2015-05-25 20:32] lalitkapoor commented on #41
looks like this comes close in terms of db schema - https://github.com/JSBizon/db-cookie-store

[2015-05-25 21:18] stash-sfdc commented on #41
OK great! if that one fits the bill then I think the right answer is to just link from the README. Leaving this issue open so that can be the "deliverable".

[2015-05-30 00:17] tlianza opened #43 "undefined is not a function"
I haven't spent a lot of time troubleshooting this, but I get a "undefined is not a function" error here:

tough-cookie/lib/cookie.js:320

The function I'm calling is Cookie.parse. And, the headers I'm passing in look like this:

``
[ 'sid=382aaefc-44b7-4a08-50e0-36d3f0343c4d; Path=/; Max-Age=360000',
  'uid=178; Path=/; Max-Age=360000' ]
``

[2015-05-31 15:43] apsavin commented on #43
Cookie.parse expects string, not an array.

[2015-06-05 17:29] ablankenship10 opened #44 "Include example of a cookie object in README"
I'm trying to set a cookie to a cookie jar but it's not accepting anything I give it. Please add an example to the documentation.

    cookieJar.setCookie({key:"KEYNAME",value:"VALUE"},"http://myurl.com");

Does not work, returns undefined is not a function on str.trim(); When giving it the same as a JSON encoded string it returns Cookie failed to Parse. Whats wrong with this?

[2015-06-07 07:14] apsavin commented on #44
it should be something like this:

[code]

[2015-06-10 11:56] lcalvy opened #45 "Missing stripe private key"
Joan Ortega [13:00]13:00
[web] { [Error: You did not provide an API key, though you did set your Authorization header to "null". Using Bearer auth, your Authorization header should look something like 'Authorization: Bearer YOUR_SECRET_KEY'. See https://stripe.com/docs/api#authentication for details, or we can help at https://support.stripe.com/.]
[web]   type: 'StripeAuthenticationError',
[web]

[2015-06-10 11:57] #45 closed

[2015-06-10 14:28] #43 closed

[2015-06-10 14:34] inikulin commented on #44
According to the [documentation] (https://github.com/SalesforceEng/tough-cookie#setcookiecookieorstring-currenturl-options-cberrcookie) `cookieJar.setCookie()` accepts `cookie string` or `cookie object`.  `cookie string` is a well-known term which means that cookie should be provided in the string form like in `Set-Cookie` header or in the `document.cookie` assignment.
E.g.:
[code]

[2015-06-10 14:34] #44 closed

[2015-06-11 08:20] inikulin commented on #29
Fixed via #42, published as v2.0.0

[2015-06-11 08:20] #29 closed

[2015-06-11 08:21] inikulin commented on #24
Fixed via #42, published as v2.0.0

[2015-06-11 08:21] #24 closed

[2015-06-16 20:43] JSBizon commented on #41
yeah this one https://github.com/JSBizon/db-cookie-store works for any db stores :)

[2015-06-16 20:46] JSBizon opened #46 "Cookies stores"
Just for you know there are 2 my cookie  stores:
Netscape file - https://github.com/JSBizon/file-cookie-store
Database(sqlite, mysql, pgsql, mozilla sqlite, chrome sqlite, etc) - https://github.com/JSBizon/db-cookie-store

[2015-06-22 10:02] Setitch commented on #26
.domain !== domain
http://stackoverflow.com/questions/1062963/how-do-browser-cookie-domains-work

Basically  dot in front of domain name makes restrictions and wildcards works for cookies.

I would be grateful for option that could set memorystorage for using or not this damn thing.

[2015-06-22 19:44] stash-sfdc commented on #26
Worth noting is that the above stackoverflow question is from 2009. In my opinion, the world of cookies has moved on significantly since then and the answers are, at this time, more-or-less "stackovertrolls" (semi-factual or wrong, but with high-points). Modern browsers adhere closely to RFC6265, not RFC2965 ("Set-Cookie2") or any of the others. In RFC6265, and tough-cookie, .domain === domain. Th

[2015-06-30 08:31] arty-name commented on #27
I still see this issue in node 0.12.5

[2015-06-30 08:33] inikulin commented on #27
@arty-name Which version of tough-cookie you use? Can you create a reproduction example?

[2015-06-30 08:35] arty-name commented on #27
I will try. That bug is hard to reproduce, and looks like some race condition (in npm?), because individually packages install just fine.

I don't use tough-cookie directly, I use request@2.58.0

[2015-06-30 09:02] arty-name commented on #27
[Looks like it's chromedriver's or npm's fault](https://github.com/giggio/node-chromedriver/issues/30#issuecomment-117063448)

[2015-06-30 17:33] stash-sfdc commented on #27
Interesting... Nice find!

[2015-06-30 17:43] stash-sfdc commented on #46
@JSBizon nice! and I see you added support for `getAllCookies` too!  Would you like me to add links to them to the README?

Also, did you see that @inikulin added the IETF test suite recently? This might be good for exercising the correctness of your implementations.  What do you think about extracting these into tough-cookie-tests?

[2015-06-30 17:45] stash-sfdc commented on #4
Yes: https://github.com/JSBizon/file-cookie-store

[2015-06-30 17:45] #4 closed

[2015-06-30 17:47] stash-sfdc commented on #41
OK! happy to leave it external.  Thanks @JSBizon !

[2015-06-30 17:47] #41 closed

[2015-06-30 20:43] JSBizon commented on #46
@stash-sfdc yeah, links will be very helpful.

this is a great idea to extract IETF test suite into  tough-cookie-tests, it will be useful. One notice - ietf_test.js uses synchronous store(getCookiesSync, etc methods) and won't work with asynchronous stores.

[2015-06-30 21:28] inikulin commented on #46
It's not a big deal to workaround that.

[2015-06-30 21:32] inikulin commented on #46
@stash-sfdc You'll be able to do that? I'm ultra-busy right now and will not be able to take my hands on it no earlier than a couple of weeks. If it's ok, I can address it.

[2015-07-04 01:08] stash-sfdc commented on #46
I won't be able to get to it right away either, so let's put this on the roadmap.

[2015-07-14 23:57] mike-aungsan opened #47 "undefined is not a function"
I cannot use any of these functions.

var t = require('tough-cookie')

var tcj = t.CookieJar()
tcj.fromJSON(JSON)

var tcfj = t.CookieJar.fromJSON(JSON)

The same goes to this function.

CookieJar.deserialize(serialized, [store], cb(err,object))

A new Jar is created and the serialized Cookies are added to the underlying store. Each Cookie is added via store.putCookie in the order in which they ap

[2015-07-15 18:46] stash-sfdc commented on #47
What is the format of the JSON you're feeding in? Did it come from a `.toJSON` or `.serialize` call? Maybe you can paste us an example.

Do you get any exceptions, stack-traces, or error messages?

[2015-07-26 19:06] luanmuniz opened #48 "pubsuffix.js using a lot of memory"
Hi Guys,

I had a memory leak in my application and debugging it i found a few problems.
beside the leak in question i found that `pubsuffix.js` is taking a lot of memory allocation.

I don`t know if i have read the logs correctly but it is a big allocation in arrays and strings.

Tracking problems i found the following issues that i think are related:
https://github.com/request/request/issues/792

[2015-07-31 19:34] inikulin commented on #48
Hi,

Can you provide the numbers, please? Is it leaking or just constantly consuming some huge amount of memory?

[2015-07-31 21:59] luanmuniz commented on #48
I think the later. I dont know if this heap snapshot has any sensitive information...but
https://s3-us-west-2.amazonaws.com/open-souce-assets/20150731T184701-2.heapsnapshot

Let me know if you need anything or if i can help any way.
I don't know how to read this properly, but show the way and i can study how things works and do my best to help.

[2015-07-31 23:33] Myztiq commented on #48
So, I wrote a quick little script to try to figure this out because it came up in my tests for memory leak.

https://github.com/Myztiq/cookie-leak

I got here from bunyan-loggly -> loggly -> reuqest -> tough-cookie.

Please let me know if there is anything obvious I might be missing here.

[2015-08-01 00:06] luanmuniz commented on #48
@Myztiq i get pretty much the same path from request to tough-cookie
and i think your test show it pretty nice. The Array is full of url's and cookies that never go away.

[2015-08-01 00:37] Myztiq commented on #48
It looks like a super tiny memory leak though. But that might add up.

[2015-08-01 01:55] Myztiq commented on #48
On second thought, my cookie in the test is `a=b` when I change the cookie to be a more reasonable 2024 characters it leaks 1.4mb over 1 million calls. Up from .3mb over 10 million with cookie of `a=b`

[2015-08-01 02:16] luanmuniz commented on #48
I have almost 15mb of that in an application that have 80mb on total

[2015-08-01 06:45] Myztiq commented on #48
With `memwatch` I actually found removing the console logs I had in there for progress decreased the memory usage more than removing the item I was testing, this leads me to believe `memwatch` is flawed. I have then noticed `memwatch` is incredibly old and out of date.

On further review with `node-inspector` I am not seeing the memory leak. I took a profile before running 10 million times, then t

[2015-08-01 15:55] luanmuniz commented on #48
I have run your 2 branches in node-inspector. I can see the leak at `master` but i could not found the leak at the `node-inspector` branch.

Here is the heapsnapshoot.
https://s3-us-west-2.amazonaws.com/open-souce-assets/20150801T125416.heapsnapshot

[2015-08-01 15:58] Myztiq commented on #48
I think it's just a problem of a single large object that pubsuffix.js creates. I pre-warm the cache in both by making a fake call before starting profiling, but it depends on when you hit it from node-inspector in master.

@luanmuniz Also, if you remove console.logs throughout the code that I have you will notice the *leak* actually gets significantly better from `memwatch`, as in, almost half of

[2015-08-01 16:01] Myztiq commented on #48
I'd be pretty surprised if there was in fact a leak because this is a core dependency of `request` and that is used by quite a few people, all their machines would be leaking memory and they would end up here months ago. I even tried creating my own cookie store that just ignored whatever it was passed and returned immediately in the `master` branch and there was no effect on the *leak*.

[2015-08-01 16:03] luanmuniz commented on #48
The snapshot i sent is from the master branch at almost 90%

[2015-08-01 16:05] Myztiq commented on #48
@luanmuniz Yes, but did you snapshot it when it was sitting at 100% long enough to garbage collect? While it's pounding the machine as fast as possible making new objects I am sure you will encounter a high amount of memory churn, but the problem will be when the churn is over, did the memory go back to normal. If it doesn't thats a leak, if it does its just a high memory intensive application.

T

[2015-08-01 16:22] luanmuniz commented on #48
I have just sent the PR above with a forced GC. and i got the same result :(
But what you said before about pubsuffix.js create a large object at the beginning got my interest, i will make some tests here related to that too.

[2015-08-27 15:32] brunano21 opened #50 "JSON Obj to cookie"
Hi,
 I have the following json obj representing a cookie, and I would like to set it into a `request` request, but I'm not able even looking at the doc and using Cookie.parse(obj).

    {
        name: 'JSESSIONID',
        domain: 'mydomain',
        secure: false,
        path: '/',
        value: '0000AP8HRGxRDsY5sZLlnQU8d-U:-1',
        httpOnly: false
    }
The following code produces:

    c

[2015-08-31 07:43] ulihecht opened #51 "doesn't find cookies with domain-suffix for internal domains"
My cookie store contains cookies for domains `server1.int.my-company` and `int.my-company` of our intranet. tough-cookie only returns the first cookie if cookies are requested for `server1.int.my-company`. I expect the second cookie to be returned as well, due to the matching suffix `int.my-company`.

I debugged tough-cookie and found the `permuteDomain()` method. It always returns null, if there

[2015-08-31 08:44] ulihecht commented on #51
This is already fixed. The issue appeared due to the use of though-cookie-filestore which has a dependency to an older version 0.12.

[2015-08-31 08:44] #51 closed

[2015-09-10 20:12] stash-sfdc commented on #48
Hey folks. I finally have a bit of time to look at this today. I'll try to review what's been found and see if I can reproduce it.

[2015-09-10 23:50] stash-sfdc commented on #48
So, I made this script and played with node-inspector:

[code]

Here's as screenshot of the memory profile:

<img width="455" alt="screen shot 2015-05-07 at 9 25 51 pm" src="https://cloud.githubusercontent.com/assets/8163311/9803776/390894e2-57db-11e5-91b0-966516a2ee06.png">

Loading the library is the big spike, the first million parses is the tiny blip around ~11s. The second parse of a million

[2015-09-10 23:50] stash-sfdc commented on #48
lol, wrong screenshot

[2015-09-10 23:51] stash-sfdc commented on #48
here we go:

![screen shot 2015-09-10 at 4 43 06 pm](https://cloud.githubusercontent.com/assets/8163311/9803853/26af63ba-57dc-11e5-85a8-41aaced723b7.png)

[2015-09-10 23:54] stash-sfdc commented on #48
@luanmuniz @Myztiq can you folks still reproduce this? Is there something significantly different from the script I used and the ones you used to test? Something to do with Logly or request?

[2015-09-10 23:55] stash-sfdc opened #52 "Spike: evaluate "psl" module"
Would this be a good public suffix replacement? https://github.com/wrangr/psl

[2015-09-10 23:58] stash-sfdc commented on #50
Use `key` instead of `name` and it should work.

[code]

[2015-09-10 23:58] #50 closed

[2015-09-11 00:08] Myztiq commented on #48
@stash-sfdc There is no memory leak for me as I mentioned earlier in the thread. Essentially there is a big memory usage upfront but no leak. It was just showing up as top on my stack because it was getting destroyed and re-created in my system so it showed up as a new big memory add (I later found the big memory remove).

The node-inspector branch that I have linked to above does not show a memor

[2015-10-07 19:44] owenallenaz commented on #48
I came here with a similar idea as other people who have reached this point. I think the reason we believe pubsuffix.js is the culprit for a lot of memory is that we see it multiple times within a heapdump analysis. For our application this is entirely caused by a lot of major NPM packages include tough-cookie (by way of `request`) and each one loads it's own version of pubsuffix due to node_modul

[2015-10-13 14:38] coty-crg commented on #48
Adding to this. In Node v0.12.7, my app has a huge memory leak. After a few minutes of a few thousand people hitting it it will die from memory consumption. Node-inspector lead me to pubsuffix.js, which led me to this page. If I hit any route, including one serving static content through express, the memory leak occurs.

I upgraded to Node v4.x and I don't see the problem, which is weird. Hopefull

[2015-11-05 09:25] bradisbell commented on #48
For me in either Node v4.2.2 or v0.12.7, I have the exact same problem with a ton of repeated memory consumption by pubsuffix.js.  Memory usage is comparable for both versions.

[2015-11-12 20:30] maraoz opened #57 "CookieJar.fromJSON is undefined"
I think it's due to being defined before `deserializeSync` here:
https://github.com/SalesforceEng/tough-cookie/blob/master/lib/cookie.js#L1268

[2015-11-12 22:13] stash-sfdc commented on #57
Oops! you're right.

[2015-11-13 01:32] #57 closed

[2015-11-13 01:53] stash-sfdc commented on #57
Fix published in v2.2.1. Thanks for reporting @maraoz !

[2015-11-13 02:15] maraoz commented on #57
Thanks!

[2015-11-18 12:01] luanmuniz commented on #48
Hi Guys, sorry that took so long to respond here.
Just by upgrading from `v0.10.28` to `v4.2.1` the problem is gone.
Just so you guys can see, this is the `memwatch` diff for `v.10.28`
[code]

And this is for v4.2.1
[code]

This is the same application, the only difference is the node version

[2016-01-20 13:36] dotchev opened #59 "tough.CookieJar.deserialize removes the cookies from the input object"
It seems `tough.CookieJar.deserialize` removes the cookies from the input object.

For example this code
[code]
produces this result
[code]
As you can see `serializedJar` argument is modified after the call to `deserialize`.

The reason seems to be this code `cookies.shift()`
https://github.com/SalesforceEng/tough-cookie/blob/master/lib/cookie.js#L1227

I find this side effect rather surprising.
F

[2016-01-20 13:50] inikulin commented on #59
Calling `cookies = cookies.slice()` [here](https://github.com/SalesforceEng/tough-cookie/blob/master/lib/cookie.js#L1215) should solve the problem. Would you like to contribute your first shiny PR to the tough-cookie :wink: ?

[2016-02-20 16:26] mediafreakch opened #61 "permutePath is not returning original path"
Assume i have the original path `/example/`.
In this case `permutePath(originalPath)` would return: `['/example', '/' ]`.

I would expect it to return `['/example/', /example', '/']`.

Without that I don't get a match for a cookie that stores `/example/`

[2016-02-20 17:29] inikulin commented on #61
You need to use [pathMatch()](https://github.com/SalesforceEng/tough-cookie#pathmatchreqpathcookiepath) to perform actual matching according to RFC.

[2016-02-20 17:29] #61 closed

[2016-02-23 20:25] MarkHerhold opened #62 "List all domains there are cookies for"
Hi,

How do I see all of the domains that there are cookies for? I'm sure this is a novice question and I apologize if I missed it in the documentation.

[2016-02-23 21:03] inikulin commented on #62
Hi.

There is no finite list of domains that match the cookie. You can use `cookie.domain` property and test given domain using [domainMatch](https://github.com/SalesforceEng/tough-cookie#domainmatchstrdomstrcanonicalizetrue) function. The matching algorithm is described in details in [RFC 6265 S 5.1.3](https://tools.ietf.org/html/rfc6265#section-5.1.3).

[2016-02-23 22:56] MarkHerhold commented on #62
I am actually asking for a complete list of all cookies in tough-cookie. I think this is actually close to what I am after: `Object.keys(cookieJar._jar.store.idx)`

[2016-02-23 23:03] inikulin commented on #62
Oh, I see. Unfortunately we don't have this functionality out of the box. But `Object.keys(jar.store.idx)` is an acceptable workaround.

[2016-03-04 16:00] iamstolis opened #63 "Regular expressions for (LOOSE_)COOKIE_PAIR are incorrect"
The regular expression for COOKIE_PAIR is /^(([^=;]+))\s_=\s_(("?)[^\n\r\0]*\3)/ see https://github.com/SalesforceEng/tough-cookie/blob/master/lib/cookie.js#L61

The intention of the back-reference \3 is to match the group ("?), i.e., the value may or may not be enclosed in quotes. Unfortunately, this is not the 3rd but 4th group. The groups are numbered according to their left parenthesis. So:
\1

[2016-03-04 16:09] inikulin commented on #63
Nice catch. Can you issue a PR with regression test and fix, please?

[2016-03-04 16:10] #62 closed

[2016-03-04 16:18] iamstolis commented on #63
OK, I will do it in few days.

[2016-03-05 11:05] iamstolis commented on #63
PR #64

[2016-03-07 21:06] stash-sfdc commented on #63
LGTM. @iamstolis could you please contact me at jstashewsky@salesforce.com and I can get you the CLA.

[2016-03-22 17:15] tmcgee123 commented on #27
Yes, second that the request module is how I'm accessing this as well, with the latest version 2.60.0.

[2016-03-29 08:01] ianpogi5 commented on #48
@luanmuniz were you able to deploy in production? how? as of today's release, Meteor 1.3 only supports node v0.10.41. Deploying to a node 4.x.x or higher will result to a fibers@1.0.5 dependency error.

[2016-03-29 13:19] luanmuniz commented on #48
@ianpogi5 The module i was using was `request` but now i'm using `got` in replacement.
https://www.npmjs.com/package/got

`got` doesn't use this module, so this problem does not exist there.

[2016-03-30 03:43] ide commented on #46
@stash-sfdc I sent a PR with links in the README to a couple of cookie stores I found: https://github.com/SalesforceEng/tough-cookie/pull/65

[2016-03-31 16:08] jimmywarting opened #66 "Idea: promises"
would like promises (async/await) instead of callbacks...
We could have both...

[2016-03-31 16:54] inikulin commented on #66
Great idea! PR is welcome

[2016-06-30 14:03] rfink commented on #48
Having this issue as well - node 4.2.4, also node 4.4.7

[2016-08-23 22:44] cloudybot opened #70 "[Salesforce Migration] Warning"
Salesforce is in the process of migrating all repositories from [github.com/SalesforceEng](https://github.com/SalesforceEng) to [github.com/salesforce](https://github.com/salesforce). As a part of this migration, this repository is slated to be moved as well. To request an exception or for any concerns contact @SalesforceEng/osscore or email osscore@salesforce.com. There is no set date for the mig

[2016-09-01 23:02] emilyrose commented on #70
👍

@stash @awaterma it sounds like there will be some preparation on our part for this to work w/o breaking anything on npm.

[2016-09-02 00:59] awaterma commented on #70
I wonder if they have any guidance for such major kinds of changes?

[2016-09-02 01:04] anish commented on #70
@awaterma what kind of guidance are you looking for ? This will be mostly transparent, remotes will get automatically redirected, so will this url. The only change would be any external connections and teams.
You can email osscore@salesforce.com with any concerns you have.

[2016-09-02 01:33] awaterma commented on #70
@anish, I just meant from NPM. With URL redirects, it sounds like things will be transparent, but I think Emily makes an important point.

[2016-09-02 01:43] anish commented on #70
aah, gotcha

[2016-09-02 01:45] anish commented on #70
Btw, we will be starting the migrations soon, please let us know if you have a preferred time frame

[2016-09-02 03:41] emilyrose commented on #70
@anish thanks for your help with this!

Perhaps we should stage a branch with the changes in preparation for the migration.
I'm bad enough with SemVer that I'm not immediately certain what kind of change this would be?

[2016-09-03 13:17] fundkis opened #72 "package.json is required thus packed by browserify"
Hi,
we indirectly use your library on browser side thanks to browserify and I realized that the generated code contains your package.json (after some npm transformation).
this is due to the instruction `require('../package.json').version` in `./lib/cookie.js`
I don't see any good solution to keep the version in one place and avoiding to require the package.json unless you add some preprocessing to

[2016-09-08 01:24] awaterma commented on #70
There's some discussion about changes like this for NPM and Bower maintainers here:

http://stackoverflow.com/questions/29414456/dealing-with-npm-and-bower-registry-entries-when-moving-a-github-repository-to-a

I think we may want to test this with a separate module and project before we let this migration execute. @anish -- it would be really nice if we could setup a meeting and discuss timelines

[2016-09-08 02:02] anish commented on #70
Sure, please set something up or you can also drop by the bi-weekly OSS Core meeting.

[2016-09-14 17:53] anish commented on #70
![](http://i.imgur.com/Dnt4S1T.jpg)

[2016-09-14 17:53] #70 closed

[2016-09-29 00:39] awaterma opened #76 "Clean up branches (Autumn fieldwork)"
We have quite a few branches in the project. I think we should spend some time to prune and remove those we aren't using and don't plan to use.

Acceptance criteria: we should have a plan for interacting with the repository as maintainers (do we fork and do pull requests? Do PRs from our own branches on the repo and then delete once accepted?) I think it's important for us to have a plan and a phi

[2016-10-07 15:20] Marko-Jankovic commented on #48
I have the same problem in v6.6.0.

What is the purpose of pubsuffix and why you need to use 8k domains such as: google, yahoo, yandex, zipoo??? amazon etc.

Thank you!

[2016-10-07 18:36] #59 closed

[2016-10-07 18:37] stash-sfdc commented on #48
@Marko-Jankovic the use of public suffixes is important for security. Without them, different domains could alter each others cookies.

[2016-10-07 18:51] stash-sfdc opened #77 "2.4 release stuff"
- [] finish #75
- [] update public suffix list
- [] bump `npm version minor`
- [] publish

[2016-10-27 22:05] stash-sfdc opened #79 "draft-west-leave-secure-cookies-alone"
https://tools.ietf.org/html/draft-west-leave-secure-cookies-alone-01

Probably want to implement this as a secure default (jar configuration, possibly?)

[2016-10-27 22:05] stash-sfdc commented on #79
See also: https://www.chromestatus.com/features/4506322921848832 - Chrome and Firefox are probably implementing this

[2016-10-27 22:13] stash-sfdc opened #80 "draft-ietf-httpbis-cookie-same-site"
https://tools.ietf.org/html/draft-ietf-httpbis-cookie-same-site-00

Adds `SameSite=Strict` and `SameSite=Lax` attributes that the parser should understand.

[2016-10-27 22:20] stash-sfdc opened #81 "draft-ietf-httpbis-cookie-prefixes"
https://tools.ietf.org/html/draft-ietf-httpbis-cookie-prefixes-00

Parser should respect cookies starting with `__Secure-` and `__Host-`.

(Probably use `indexOf` in the implementation; possible ReDoS)

[2016-11-03 15:17] paul321 opened #82 "Punycode AMD error with RequireJS"
We get the following error TypeError: punycode.toASCII is not a function when using node request that uses this library, the problem is with punycode 1.4.1 which doesn't work with AMD. Please update dependencies to 2.0.1

Thank you

[2016-11-11 18:14] awaterma commented on #77
I have fixes now for all of these issues locally; I'll push up a few branches and open some pull requests over the next few days.

[2017-01-19 16:38] flux627 opened #84 ""Why the name?""
Should read:

[2017-03-17 16:05] gajus opened #85 "How to get a value of a cookie provided a cookie jar?"
It is not entirely clear from the documentation how to get a value of a specific cookie provided an instance of a `CookieJar`.

[code]

Using `Cookie.parse` in the above example I am getting an error:

[2017-03-17 16:46] inikulin commented on #85
Cookie.parse(cookies[0]);

`Cookie.parse` parses cookie string like the one you set in browser for `document.cookie`. `jar.getCookiesSync` returns array of data structures that represent **already parsed** cookie. Thus, to access `value` of the particular cookie you need to scan returned array for required `key` and use it's `value` property. If you need to get string representation of the current

[2017-03-17 16:46] #85 closed

[2017-03-17 16:49] inikulin commented on #84
Indeed they are.

[2017-03-17 16:49] #84 closed

[2017-03-17 17:05] gajus commented on #85
Oh I see. What confused me is that `Cookie` implements (I am guessing) a `toString` method, which makes it look like the result of the `getCookieSync` is an array of strings.

[code]

[2017-03-17 17:15] gajus commented on #85
This is starting to look like a bug, or I am completely misunderstanding something.

The server responds with:

[code]

I do:

[code]

which gives:

[code]

It looks like it only picked up only the first `set-cookie`.

[2017-03-17 17:17] gajus commented on #85
Just to make it clearer whats the contents of the `cookies`.

[code]

[code]

[2017-03-17 17:24] gajus commented on #85
Turns out a bug in the HTTP client, https://github.com/gajus/xfetch/commit/71449accb4fd220b199b5f07e7107b5c5abbd76a.

[2017-04-09 21:21] gajus opened #86 "deserializeSync/fromJSON is mutating the input parameter"
This took me quite some time to trace down...

I was doing:

[code]

and I couldn't understand where my cookies disappear. It turns out that the first call to `CookieJar.deserializeSync(scrapeSeatsSession.jar)` drains the `scrapeSeatsSession.jar`.

As a very least, this should be documented with a big red flag.

[2017-04-09 21:22] gajus commented on #86
Meanwhile, a workaround is to deep clone the object, e.g. `CookieJar.fromJSON(JSON.parse(JSON.stringify(scrapeSeatsSession.jar))),`.

[2017-05-20 11:00] jcoglan opened #88 "Cookie.parse ignores multiple field values"
Per [RFC 2616](https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#sec4.2):

If you pass a `set-cookie` header to `Cookie.parse` and that header contains multiple comma-separated field values, the first value is parsed correctly but subsequent ones are ignored. For example:

[code]

Is there a way to correctly parse multiple cookie values from a header, and if not, can `Cookie.parse` be modifie

[2017-07-04 11:47] duleigiser opened #89 "set muit-cookie problem!"
when a cookies incloud one , do this is ok!
[code]
but  now I have muti-cookie
[code]
but this doesnt work !
help me! thanks ~

[2017-07-04 13:32] inikulin commented on #89
Can you provide expected and actual result and small reproduction code that I can run on my computer via `node repro.js`?

[2017-07-06 07:00] duleigiser commented on #89
I was wrong in other places. The code is correct! @inikulin

[2017-07-06 07:00] #89 closed

[2017-09-05 12:43] cristianstaicu opened #92 "Vulnerable Regular Expression"
The following regular expression used for parsing the cookie is vulnerable to ReDoS:
[code]
The slowdown is moderately low: for 50.000 characters around 2.5 seconds matching time. However, I would still suggest one of the following:
- remove the regex,
- limit the number of characters that can be matched by the repetition,
- limit the input size.
I noticed there is another bug report regarding the

[2017-09-06 02:56] adamwdennis commented on #92
Nice find. An actual example will be helpful in verification of a fix.

[2017-09-06 13:37] cristianstaicu commented on #92
Sure, here it is:
[code]

[2017-09-08 17:59] evilpacket commented on #92
@cristianstaicu remember to start your timer right before your parse operation (i.e. after your require and string generation) for accurate time measurements. Given that node limits header size to 80kb the dos is limited to about 7.3 seconds. At Node Security we consider anything over 1 second to be a valid issue.

[2017-09-19 18:44] olalonde opened #93 "Feature request: remove all cookies from cookie jar at once"
It would be helpful to have a method to completely clear the cookie jar.

[2017-09-21 04:56] eddieajau commented on #92
Just fyi, [nsp](https://github.com/nodesecurity/nsp) has this on their radar so anyone with `nsp` in their CI build pipeline will now be experiencing failing builds.

[2017-09-21 05:35] gemal commented on #92
https://nodesecurity.io/advisories/525

[2017-09-21 06:02] tkalfigo commented on #92
Indeed. Got the nsp error from our pre-commit hook. But is there a way to overcome it temporarily until a fix for tough-cookie is in place? I'd like to avoid of course disabling entirely the nsp check.

[2017-09-21 06:19] Hellenic commented on #92
You could [add an exception](https://github.com/nodesecurity/nsp#exceptions) to your `.npmrc` for that

[2017-09-21 06:30] subesokun commented on #92
Please fix as our builds are failing and I don't want to whitelist the advisory

[2017-09-21 06:37] gemal commented on #92
add the following to a `.nsprc` file:
[code]

[2017-09-21 08:27] henrysachs commented on #92
Hey Guys,
do you think it will take long for an update of the package. Because i want to use this in a project of mine and would like this to count on a fix in a decent amount of time. If that sounds kinda harsh it shouldn't. :D

[2017-09-21 09:49] grnd commented on #92
suggesting limiting the number of whitespaces in the key.
https://github.com/salesforce/tough-cookie/pull/94

[2017-09-21 15:55] tizmagik commented on #92
Snyk is picking this up now too, https://snyk.io/vuln/npm:tough-cookie:20170905

[2017-09-21 16:47] stewartjarod commented on #92
Known vulnerability for 16+ days... time to patch guys.

[2017-09-21 16:52] inikulin commented on #92
Once we have https://github.com/salesforce/tough-cookie/pull/94 issues resolved can someone from @salesforce/tough-cookie-contributors with npm permissions publish an update?

[2017-09-21 19:03] stash-sfdc commented on #92
I apologize for the late pickup of this. I'm closely monitoring this issue and PR now.

@inikulin yes I can push an update as soon as we get a fix.

[2017-09-21 20:45] bfla commented on #92
My team's CI security checks started failing today due to this issue and I'm happy to see that you are on top of it.  Thanks for your work on this!  It is much appreciated! 👍

[2017-09-21 21:12] stash-sfdc commented on #92
Published as 2.3.3 - will leave this ticket open until I've resolved it with nsp/snyk

[2017-09-21 21:28] mshibl commented on #92
do you know how long it takes nsp to update on their side?

[2017-09-21 21:34] stash-sfdc commented on #92
@mshibl unsure, but I've emailed both nodesecurity and snyk

[2017-09-21 22:03] guypod commented on #92
We updated Snyk's DB, results should factor in the 2.3.3 fix now.

[2017-09-22 05:25] Micksa commented on #92
Hi, just noticed this and the fix,

I believe you can fix the issue without potentially breaking standards compliance with a change like:

`/^(([^=;\s]+))\s*=\s*([^\n\r\0]*)/`

The difference being the `\s` in `[^=;\s]`.  This passes the above test at least

[2017-09-22 06:32] rahul-dutt-sharma commented on #92
Isn't this fixed in  2.3.3?

[2017-09-22 18:01] stash-sfdc commented on #92
Snyk and nodesecurity are both updated. Closing issue.

One more apology (can't help it, 🇨🇦 ): sorry for the delay in fixing this folks. I've fixed my notification settings and email filters so this won't happen again.

I've been working on a change that removes the problematic regex parsing entirely. Hopefully more on this soon, but a preview is on the `no-re-parser` branch. As a side-effect, it

[2017-09-22 18:01] #92 closed

[2017-09-23 01:27] tizmagik commented on #93
May I suggest:

[code]

[2017-09-24 19:49] Kepro opened #99 "Latest version not working"
/var/www/node_modules/tough-cookie/lib/pubsuffix.js:109
    hashCode(): number;
              ^

SyntaxError: Unexpected token :
    at createScript (vm.js:74:10)
    at Object.runInThisContext (vm.js:116:10)
    at Module._compile (module.js:537:28)
    at Object.Module._extensions..js (module.js:584:10)
    at Module.load (module.js:507:32)
    at tryModuleLoad (module.js:470:12)
    at Function

[2017-09-24 19:57] Kepro commented on #99
after npm cache clean --force it's work again...

[2017-09-24 19:57] #99 closed

[2017-09-29 15:49] kelvinsix opened #101 "CookieJar.clone call deserialize in bad argument order"
https://github.com/salesforce/tough-cookie/blob/12d426678f77bd34dd1234b7acbf47b299f50439/lib/cookie.js#L1293

CookieJar.deserialize need parameters as (serialized, [store], cb),
but now is passed as (newStore, serialized, cb)

[2017-10-03 15:54] calebboyd opened #102 "Pubsuffix#index to json?"
Acorn fails to parse pubsuffix.js a majority of the time. I imagine its due to the massive hash that is embedded in it.

Is there any reason this can't be a required json file?

[2017-10-04 09:59] neilwashere opened #103 "tough-cookie jar with request failing"
Hello - I'm struggling with tough-cookie + request and hope you can tell me what I'm doing wrong.

I'm trying to setup an initial store of cookies harvested elsewhere in order to use with a subsequent request. The docs for `request` appear to be incorrect wrt cookie store usage (at least type definitions suggest so) so I have this, using a tough-cookiejar directly rather than a request.jar():

[co

[2017-10-04 10:14] neilwashere commented on #103
this is a `request` issue. closing
https://github.com/request/request/issues/1939

[2017-10-08 21:12] ichernev commented on #93
+1

As a workaround you can switch the current jar with a brand new one, but removing all cookies is a very meaningful addition.

[2017-10-18 11:00] atul-shimpi opened #104 "tough-cookie not found"
Hello,
I have installed touch-cookie. Checked if its present in node_modules.
However, when i start my app, node is complaining tha that touch-cookie not found.

[2017-10-18 11:55] inikulin commented on #104
It's hard to make any assumptions without reproduction code. Closing for now due to the insufficient information. Will be happy to reopen once reproduction code will be provided.

[2017-10-18 11:55] #104 closed

[2017-10-19 23:21] #103 closed

[2017-10-19 23:26] stash-sfdc commented on #93
This probably means adding `Store#removeAllCookies` (to pair with the existing `#removeCookies`) and then having `CookieJar#removeAllCookies`.

[2017-10-19 23:37] stash-sfdc commented on #88
From [RFC6265 section 3](https://tools.ietf.org/html/rfc6265#section-3):

So, I don't think we should modify Cookie.parse to support this.

[2017-10-19 23:37] #88 closed

[2017-12-09 12:54] raphaelsoul commented on #46
[code]

@JSBizon got error like this. Are you still maintaince your repo ?
i am using "tough-cookie": "2.3.3" and "file-cookie-store": "^0.2.1"

[2018-01-20 14:42] Angelk90 opened #105 "Some information"
@salesforce:
Hi, I wanted to know if it works on react-native.
I tried to install it but it does not seem to work, from problems with addictions.
So I wanted to know is it possible to make it work on react-native?

[2018-01-29 21:20] stash commented on #105
I don't know of any reason why it wouldn't work with react-native. Could you please give us some reproduction steps and more details on the problem you're seeing?

In particular, I don't understand what you mean by "from problems with addictions".

[2018-03-09 01:06] contra commented on #48
Can that file be imported lazily so its only using memory when it is actually needed (when either `permuteDomain` or `getPublicSuffix` are called)? This should be a really straightforward fix IMO, unless I'm missing something it seems like you can avoid loading it in most cases.

[2018-04-19 10:19] webaifei opened #108 "Is It posibale rewrite other user's cookie?"
Hi, i use tough-cookie in my next.js project with Axios.
After fetching data, i use cookiejar.setCookie(cookies, url)  then i use cookiejar.getCookie(url) to get previous cookies for next fetching api (e.g. /getuserinfo)
I am so worried about that User-B's cookie may rewrite User-A's cookie in cookiejar  before User-A getting his info. Because I find the cookie.key may be same when the cookiejar s

[2018-04-23 13:22] KuoKongQingYun opened #109 "Can't using setCookie function to load cookie from getCookieString or getCookies?"
Can't using setCookie to load cookie from getCookieString or getCookies?
I want to find a quick way to restore and load cookie to/from redis server,
I test getCookieString/setCookie and getCookies/setCookie,but they can't work directly.
The format of the return of getCookieString or getCookies can't be compatible with setCookie,
so I have to translate the format manually?

[2018-05-09 00:09] duper51 opened #111 "Conflicting Paths Generated By permutePath"
I'm experiencing a bug using this library when attempting to get a previously set cookie from a JAR using the FileCookieStore() store.

If I set a certain cookie with a path ending in a slash (such as "/cas/"), when I attempt to retrieve it using getCookies using the same URL as the first parameter, the call to `permutePath` returns an Array containing `["/cas", "/"]` which doesn't match "/cas/" w

[2018-05-09 00:10] duper51 commented on #111
Just had a look at the PRs and it looks like issue #90 is resolving this issue.

[2018-05-10 16:35] TimeBandit opened #112 "Regular Expression Denial of Service"
![tough cookie screenshot from 2018-05-10 17-34-53](https://user-images.githubusercontent.com/2059850/39881316-7b7bc866-5478-11e8-8d8d-c7cca0d5c50a.png)
see => https://nodesecurity.io/advisories/525
Can you update to use sshpk >=1.14.1?

[2018-05-14 07:37] oliverjessner commented on #112
forever-monitor and a lot of more packages are also depending on tough-cookie.

[2018-05-29 02:59] lewebsimple commented on #93
Can't we just delete the jar and create a new instance ?

[2018-06-04 21:41] stash commented on #112
This DoS is already fixed (see #92) in version >=2.3.3. Dependents need to upgrade to that or a later version.

[2018-06-04 21:41] #112 closed

[2018-06-04 21:58] stash commented on #105
Closing due to inactivity.

[2018-06-04 21:58] #105 closed

[2018-07-30 18:55] #101 closed

[2018-07-30 19:06] stash commented on #108
That is correct. This is the expected behaviour for cookies using the same URL. Suggest that you create and keep a separate cookie jar per user. For example, you can serialize the jar as JSON and store it in the next.js session (sorry if that's the wrong terminology; I don't know next.js at all)

[2018-07-30 19:06] #108 closed

[2018-07-30 20:05] stash commented on #72
Intend to fix this with `genversion`

[2018-07-30 20:24] #27 closed, assigned to nobody

[2018-07-30 20:24] #12 closed, assigned to nobody

[2018-07-30 20:26] stash commented on #10
Triage: should investigate if this is still an issue, sync up with the whatwg reference linked above?

[2018-07-30 20:26] #47 closed

[2018-07-30 20:27] stash commented on #63
tough-cookie no longer uses regexp for parsing, so probably this is now irrelevant.

[2018-07-30 20:27] #63 closed

[2018-07-30 20:59] stash commented on #80
This appears to now be implemented in Opera, "Samsung Internet", Firefox and Chrome, so a feature-flag to support it would be a good feature to add.

https://www.chromestatus.com/feature/4672634709082112
https://www.owasp.org/index.php/SameSite
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie

[2018-07-30 21:00] stash commented on #79
Chrome (and thus Opera) and Firefox have shipped this.

[2018-07-30 21:03] stash commented on #81
Firefox and Chrome (and Opera) shipped it, so we should support it too https://www.chromestatus.com/feature/4952188392570880

[2018-07-30 21:10] stash commented on #82
Triage: Will consider the upgrade still, but tough-cookie needs to be pretty backwards compatible due to lots of packages depending on us. Currently, `punycode` depends on `node >= 6` and `tough-cookie` supports `node >= 0.8` (but technically we only test 0.10+)

[2018-07-30 21:14] stash commented on #109
Sounds like `redis-cookie-store` would have been a good solution for this https://github.com/benkroeger/redis-cookie-store

[2018-07-30 21:14] #109 closed

[2018-07-30 21:16] #26 closed

[2018-07-30 21:18] #22 closed, assigned to nobody

[2018-07-30 21:34] stash commented on #86
This has been fixed along with #59

[2018-07-30 21:34] #86 closed

[2018-07-30 21:43] stash commented on #80
https://caniuse.com/#search=samesite indicates partial support in IE11 and full support in Edge

[2018-07-30 21:50] stash opened #122 "draft-thomson-http-omnomnom"
Slated as part of 6265bis, [this draft](https://tools.ietf.org/html/draft-thomson-http-omnomnom) suggests:

[2018-07-30 22:31] stash commented on #81
Current draft:

`__Secure-`: https://tools.ietf.org/html/draft-ietf-httpbis-rfc6265bis-02#section-4.1.3.1

Super easy to support: just honor a `prefixSecurity: 'unsafe-disabled'|'silent'|'strict'` flag given to `CookieJar` -- applies during `addCookie` and results in an error (`'strict'`) or silently disallowing it when `'silent'`. The unsafe option follows the secure coding principle of "don't al

[2018-07-30 22:40] stash commented on #80
This one seems potentially trickier to implement. In particular, the `CookieJar.setCookie` and `.getCookie` require a URL parameter (or parsed-URL) but they don't require anything resembling a Referer or "what page am I on". Maybe add a `currentUrl` constructor option (and property) to `CookieJar`?

The proposed RFC suggests changes to the storage model that would need to be adhered to.

[2018-07-30 22:48] stash commented on #79
https://tools.ietf.org/html/draft-west-leave-secure-cookies-alone-01#section-3 is a good summary, but defer to https://tools.ietf.org/html/draft-ietf-httpbis-rfc6265bis-02#section-5.4 for the new processing model:

The implementation change should default to "on", which potentially means a semver major update. Maybe `unsafeModificationsToSecureCookies: 'allow'` is the flag to disable it?

[2018-07-30 22:53] stash commented on #10
Related to this: check out http://inikulin.github.io/cookie-compat/ !

[2018-08-06 16:06] #72 closed

[2018-08-08 17:23] fakirpic opened #123 "How to use cookies under subdomain"
i try to use same cookies in subdomains,

i tried to
					try { jardata[Buffer.from(line[0]+"-"+line[1]).toString('base64')]["_jar"]["store"]["idx"]["m."+Object.keys(jardata[Buffer.from(line[0]+"-"+line[1]).toString('base64')]["_jar"]["store"]["idx"])]=jardata[Buffer.from(line[0]+"-"+line[1]).toString('base64')]["_jar"]["store"]["idx"][Object.keys(jardata[Buffer.from(line[0]+"-"+line[1]).toString(

[2018-08-14 17:45] #82 closed

[2018-09-04 11:07] jkulubya opened #125 "Node dependency breaks in non-node environments"
Hi,
I'm working on a Nativescript project, where the api surface area is node but not quite. The library depends on the presence the node [net](https://nodejs.org/api/net.html#net_net_isip_input) api. This doesn't exist in NS, and the shim for webpack returns true for isIp and related functions [here](https://github.com/webpack/node-libs-browser/blob/1b67bdeefca87d81792e86278439213a6932170e/mock/n

[2018-09-06 10:04] gajus commented on #88
What is the workaround for this?

[2018-09-06 14:54] Somebi opened #126 "console.log(cookie) throws an error"
I'm using async redis store, https://github.com/benkroeger/redis-cookie-store
When trying to output contents of cookie via console.log, it throws an error:

[code]

[2018-09-06 14:55] Somebi commented on #126
using latest "tough-cookie": "^2.4.3",

[2018-09-06 15:02] Somebi commented on #126
It seems there is only async version of serialize?

[2018-09-06 15:11] Somebi commented on #126
Actually not a cookie, but a whole jar, i'm serializingg object which holds jar inside it.

[2018-09-06 15:35] Somebi commented on #126
[code]
Should be this way. But it seems it's not supporting implementation of:
`Error: getAllCookies is not implemented (therefore jar cannot be serialized)`

But that's already problem of redis store module

[2018-09-24 16:51] stash commented on #125
Wow yeah that mocked `isIP` is pretty awful for `tough-cookie`. That's a really good case for not using it if it's not available.

I found https://www.npmjs.com/package/isipaddress, which does most of what we need. It "over-matches" IP addresses by design, though, which might not be what we need for tough-cookie. For example, `192.168.0.1/24` (IP+CIDR) is considered an IP.

[2018-09-24 16:56] stash commented on #126
I think you figured it out, but you can't use the redis store module with the synchronous methods. The callbacks required for network I/O is what makes it impossible. This error is expected to be thrown for all stores that don't support synchronous operation.

[2018-09-24 16:56] #126 closed

[2018-10-08 13:03] gzzhanghao commented on #125
Node implements `isIP*` with RegExp. I think we can copy these functions into our project.
https://github.com/nodejs/node/blob/master/lib/internal/net.js#L7

[2018-10-12 00:56] hyandell opened #129 "License confusion"
Hi tough-cookie folk,

The readme says the license is:  "(tl;dr: BSD-3-Clause with some MPL/2.0)".

Could you clarify what the MPL/2.0 is in regards to?

[2018-10-16 22:29] stash commented on #129
Oh, well good news is that the LICENSE file is already updated! It's just the README that wasn't updated as part of 3072afa5d45a42c8390e015cb8f563b30cdc0b2a

[2018-10-16 22:35] #129 closed

[2018-10-16 22:37] BarrySpencer commented on #129
Hi Jeremy,

My name is Barry Spencer.  As part of an ongoing effort, I’ve asked if my
personal email address could pleased be removed from github.

I left Salesforce last year.  I’ve asked repeatedly.  I would appreciate
your (or someone’s) help in a his regard.

Thank you!!
Barry Spencer

On Tue, Oct 16, 2018 at 3:29 PM Jeremy Stashewsky <notifications@github.com>
wrote:

[2018-10-16 23:10] stash commented on #129
I don't work there any more either! Maybe osscore@salesforce.com, @ivarley, or @awaterma can help?

(also: not to be *that guy*, but did the unsubscribe link work?)

[2018-11-29 11:00] willemotlucas opened #132 "v2.5.0 : str.trim() is not a function"
We're using tough-cookie ^2.4.3 (which actually installs 2.5.0) with request ^2.88.0.

This code worked with 2.4.3 :
[code]

But we're getting the following error with 2.5.0 :
[code]

Any hint about what could cause this issue in 2.5.0?

Thanks!

[2018-12-05 17:14] jmac105 commented on #132
We're seeing the same issue

[2018-12-06 11:00] sarneeh commented on #125
I have the same issue with this package. It would be awesome to fix this as there are plenty of use cases to use `tough-cookie` on non-node environments like isomorphic apps (i.e. `next.js`).

[2018-12-10 13:40] olegmihh opened #133 "Function findCookies in MemoryCookieStore restarting server"
When i using instagram-private-api its restarting my server. I finded, what problem in tough-cookie when added console in function MemoryCookieStore.prototype.findCookies:
![image](https://user-images.githubusercontent.com/34510366/49735967-ccbe0080-fc99-11e8-96e8-7bbb3525020c.png)
console.log not working in this func

When my server restarting i see in console deprecation:
`(node:26791) [DEP0079]

[2018-12-10 15:33] olegmihh commented on #133
When the cookie file was changed - pm2 restarted my server :)

[2018-12-10 15:33] #133 closed

[2018-12-12 00:19] gombosg commented on #132
Same here with the same setup. The cookie that looks like a `Cookie` instance from outside is not recognized on the inside.

[2018-12-12 20:48] stash commented on #132
@willemotlucas @jmac105 @gombosg what environment are you using (node? browser? etc.?)

[2018-12-12 20:59] gombosg commented on #132
Used Node 8, but I worked around the bug by converting the cookie into a cookie string and passing that to the library instead of an object.
The library fails at the `instanceof Cookie` part - even if the object is indeed a `Cookie` instance, the prototype constructor may have been different. (Does it matter if it's loaded from a different directory?)

[2018-12-12 21:19] stash commented on #132
Thanks @gombosg.

`instanceof` definitely goes on an actual Function object, so if you have two functions named `Cookie` (the constructor), the `instanceof` and `==` and `===` operators will all return false.

FWIW, I'm able to reproduce this in a test now with request 2.88.0 and node 11.4.0. I'll look into it again later today.

[2018-12-13 02:03] awaterma commented on #132
Thanks for looking into this @stash!

[2018-12-14 22:17] tehnorm commented on #132
Noticed the same error when:

[code]

In our case it ended up `results.responseHeaders['set-cookie']` was an array that needed to be iterated calling `Cookie.parse` on each element. Might be handy for `Cookie.parse()` check if the value it attempts to parse is a string?

Although, given the initial example this may not be related.

[2018-12-18 19:37] muraiki opened #134 "Reliance on psl < 1.1.29 could pull in malicious code"
The psl module is used as a dependency with semver `^1.1.28`. Prior to psl version 1.1.30, psl had a development dependency on event-stream with semver `^3.3.4`. event-stream 3.3.5 included a dependency on flatmap-stream, which contained [malicious code](https://github.com/dominictarr/event-stream/issues/116) designed to steal bitcoins. As such, if when building tough-cookie a version of psl is us

[2018-12-24 08:03] vinaybedre opened #135 "getCookies wont return actual cookies sent from server"
As per documentation, calling below script should get cookies from server.

[code]

But it always returns blank. Can you help me judge is it a bug or I am using it incorrectly?

[2018-12-31 07:49] jkulubya commented on #125
Would this package work?
https://www.npmjs.com/package/is-ip

I've tried it over here and with my quick testing it seems okay.
https://codesandbox.io/s/n7z1jlrwkp?module=%2Fsrc%2Fcomponents%2FHelloWorld.vue

[2019-01-07 22:30] #125 closed

[2019-01-08 07:17] sarneeh commented on #125
Thank you very much for this fix! 💃 🎉

[2019-01-09 12:54] thijskramer opened #140 "Unable to install v3.0.0 on node 6.14.0"
Since today I'm unable to install tough-cookie on node v6.14.0, because I'm getting the following error:

`error ip-regex@3.0.0: The engine "node" is incompatible with this module. Expected version ">=8". Got "6.14.0"`

I suspect that the introduction of `ip-regex` in PR #138 (and especially [this commit](https://github.com/salesforce/tough-cookie/commit/eff9118f3c960bc1ed378ebb5ec2e80930cd3138))

[2019-01-09 15:33] gzzhanghao commented on #140
Try `yarn --ignore-engines`

[2019-01-09 15:52] thijskramer commented on #140
Yes with that flag I'm able to bypass the issue and install tough-cookie, but does that doesn't solve the actual problem. I think tough-cookie should either depend on an older version of ip-regex, or enforce node  >=8 as well.

[2019-01-12 13:05] Turbo87 commented on #140
I agree with @thijskramer. Either use `ip-regex@2` which still supports Node 6, or officially drop support for Node 6 and bump the major version of this package too.

[2019-01-14 13:14] danieljuhl commented on #140
@Turbo87 wasn't the major version of this package bumped to v3? They could add engines info to package.json and release notes about the breaking change in v3, but I assume that dropping support for Node 6 was the reason behind the bump to v3 for tough-cookie.

[2019-01-20 02:32] jrjohnson commented on #140
To be fair `3.0.0` was a major bump that dropped several node versions - maybe the release notes and `package.json` just need to be updated to reflect this.

[2019-01-20 17:46] Turbo87 commented on #140
@jrjohnson it explicitly only dropped support for Node 4 and below though... (see https://github.com/salesforce/tough-cookie/commit/16ba441c868b833f0c29141fccecfaae5ce4bba5)

[2019-01-25 12:09] tenbits opened #142 "Parse folded cookies"
Hi Team,

please reconsider this feature once again.  Sorry for bothering, as the issue was already closed (#88). And cookie Folding on HTTP transport is true - not common case, **but** it is a valid behaviour for many HTTP libraries. For instance, `Fetch API` removed the `getAll` method, a made the `get` method to return folded Cookie. This API is for browsers, but many nodejs polyfills are out t

[2019-01-30 16:03] thamerla opened #143 "Docs should include info how to promisify jar"
I would like to use promises but I have no clue how to promisify methods using built-in util.promisify. Docs should support this if it's not currently possible to implement promises on their own.

[2019-01-31 14:47] nonyy commented on #16
Has it been fixed?

[2019-01-31 15:06] nonyy opened #144 "Cannot read property secure of undefined"
Sample cookie I am trying to parse is included. Any tips on parsing?
Code:
https://repl.it/repls/ProfitableUnfortunateFossil

[2019-02-04 21:38] #140 closed

[2019-02-04 22:06] stash commented on #143
I suspect that `util.promisfy` should Just Work (tm) but I'll write up some test cases and update README.md to reflect the preferred method.

Since we support minimum node.js v6, and `util.promisify` was added in v8, tough-cookie unfortunately can't (yet!) switch to supporting this automatically. So, I'd like to explore a wrapper package that offers a promisify-ed API.

[2019-02-04 22:09] stash commented on #142
Will consider PRs for this, but for the time being, this is a relatively lower priority.

[2019-02-04 22:11] stash commented on #143
See also: #66

[2019-02-05 12:42] FabianTe opened #145 "Missing parameter validation on setCookie function causes TypeError"
I noticed missing parameter validation in the `setCookie` function:

https://github.com/salesforce/tough-cookie/blob/43507052a70751501d52aad38bd837bb2edfedd8/lib/cookie.js#L995-L1001

There is no parameter validation which may cause confusion when not setting `url`. If only `cookies` then the function will assume that the `options` parameter is an object and tries to access the `loose` property. T

[2019-02-05 16:38] nonyy commented on #143
@stash I saw that one and it prompted me to write this issue.

[2019-02-05 20:26] AlexOwl opened #147 ".cloneSync should not require object param"
Documentation says: `.cloneSync([store])`
So cloneSync does not require `store` param, but it does due to property(`synchronous`) checking

Pull request https://github.com/salesforce/tough-cookie/pull/146

[2019-02-07 07:35] kopax commented on #16
I have the same error, is this fixed?

[2019-02-07 20:15] awaterma commented on #76
It's nearly 2.5 years since I posted this issue, and we didn't inspire any discussion in this thread. So, I'm going to take down this issue and just bring up the topic at next month's tough-cookie meeting.

[2019-02-07 20:15] #76 closed

[2019-02-08 09:29] sindresorhus opened #149 "Add `defaultDomain` option to `Cookie.parse`"
I need to accept cookie strings from users where the `Domain` part is optional, since I want it to behave like the browser, which defaults to the current domain.

I currently use this:

[code]

But it throws as there is no `Domain` parameter in the cookie string.

I would like to be able to use it like this:

[code]

Would also be useful to have a `defaultUrl` option, so I don't have to parse the

[2019-02-14 14:45] bshevlin commented on #143
@stash [Bluebird](http://bluebirdjs.com/docs/api-reference.html) has a good backwards-compatible promisification function and would probably help. They also have util functions that could help with backwards compatibility.

[An example from Bluebird's docs](http://bluebirdjs.com/docs/api/ascallback.html):
[code]

[2019-02-26 20:46] Ankcorn opened #150 "ip-regex dependency breaks on old very old node versions"
Hi,

I'm currently working on a project using a specific (very old) node version.

ip-regex's use of es6 features makes our application crash on startup  with this new update and because we have no control over the library pulling in tough cookie we cannot backport to version 2.5 easily and might have to deal with breakages in the future.

Would it be possible to remove ip-regex as a dependency?

[2019-03-04 18:14] amol-c commented on #150
Facing the same issue here.

[2019-03-11 16:39] stash commented on #145
Agree that this could have a much better error raised than `TypeError`. Pull request would be welcome :)

Other methods besides `setCookie` could benefit from clearer error messages too, for what it's worth.

[2019-03-11 16:46] stash commented on #149
I'm not sure a defaultDomain option makes sense. I would parse the cookie and check the `.domain` property. Perhaps something like this code would work for you?

Initialization:
[code]

Then, for each cookie:
[code]

[2019-03-11 16:46] #149 closed

[2019-04-11 11:26] vikiCoder opened #153 "Storing wrong domain when calling setCokies() with IPv6 address"
Hi,

I noticed that while storing cookies for URL with IPv6 address (i.e. `http://[::1]/foo`), tough-cookie stores domain name without `[ ]` (i.e. `::1`) in the store. It should store the domain as it is like Chrome does (i.e. `[::1]`).

Because of this behavior, I get error `Error: Cookie not in this host's domain. Cookie:[::1] Request:::1` while executing following code snippet:

[code]

[2019-04-11 11:44] vikiCoder commented on #153
I further looked up in the source code for this.

I think the reason behind this behavior is Node's `url.parse()` function which is being used in `getCookieContext()` of `cookie.js` file.

`url.parse()` removes `[ ]` from hostname. I think it should use the [WHATWG URL API](https://nodejs.org/dist/latest-v11.x/docs/api/url.html#url_the_whatwg_url_api) of Node (which more closely resembles the pars

[2019-04-25 20:48] jstewmon opened #154 "CookieJar.setCookie does not slide expiration for set-cookie headers with max-age"
The creation time from old-cookie is carried forward per the spec, but this causes the expiryTime() to be unaffected by subsequent set-cookie headers, so the cookie will expire when its creation + max-age > now, even if subsequent set-cookie headers specified max-age with the intent of making the expiration now + max-age.

I'm currently working around this by just having a Store implementation tha

[2019-05-06 17:38] stash commented on #154
I reviewed the code and the RFC and I am confident that what `tough-cookie` is doing is the standard behaviour. I don't think there's a bug to fix here so I'd like to close this issue.

In both the code and in the RFC, creation time doesn't get changed when updating a cookie. [RFC 6265 Section 5.3](https://tools.ietf.org/html/rfc6265#section-5.3) defines the logic for storing a cookie and step 11.

[2019-05-06 17:38] #154 closed

[2019-05-06 18:28] jstewmon commented on #154
Sorry, I should that I was reporting the issue because the spec doesn't mention the affect of max-age on updates, but browsers treat it as a sliding expiration.

Chrome, Firefox, and I suspect all other browsers, will update the expiration every time a response contains a `set-cookie` with max-age.

All you need to see for yourself is a server that sends a cookie with max-age. Open the dev inspect

[2019-05-30 14:37] Petestam opened #159 "NodeJsScan finds "Remote Code Injection" vulnerability"
`  "Remote Code Injection": [
            {
                "description": "User controlled data in 'unserialize()' or 'deserialize()' function can result in Object Injection or Remote Code Injection.",
                "filename": "cookie.js",
                "line": 1385,
                "lines": "this.serialize(function(err, serialized) {\n    if (err) {\n        return cb(err);\n    }\n    Cook

[2019-06-21 19:58] miggs125 opened #160 "Allow .local suffix domains for testing purposes"
Hi,

I am using request (which uses tough-cookie) to test a web app that is hosted on a domain ending with a .local suffix (ex: http://foo.bar.local). Once the app's server receives a GET request, it sends back a redirect status with a set-cookie header along with authentication cookies. Each containing a .bar.local domain. When the client responds to the redirect, it attempts to put the stored co

[2019-06-24 01:20] legowerewolf commented on #132
I'm still seeing this with v3.0.1.
[code]

[2019-07-01 20:56] awaterma opened #161 "Modernize JS syntax (back-compat transpiling?)"

[2019-07-01 20:57] awaterma opened #162 "Benchmark tough-cookie with `psl` @cruoho"

[2019-07-01 20:57] awaterma opened #163 "Contribute auto-build stuff (or spike info) to `psl` @stash"
Not sure what still needs to be done with this one.

@stash

[2019-07-08 06:09] shivam-tripathi commented on #143
This should be useful:
[code]

[2019-07-09 16:28] ruoho commented on #159
Hi @Petestam, thanks for the report! It looks like NodeJsScan triggered this alert because tough-cookie has an internal function named 'deserialize()', which matched a function name of a package with known vulnerabilities. This is probably because there was an exploitable vulnerability for deseriazile() in serialize-to-js a couple of years ago:

https://github.com/commenthol/serialize-to-js/issues

[2019-07-16 01:36] skleeschulte opened #165 "setting rejectPublicSuffixes to false leads to "CookieJar store is not synchronous; use async API instead." error"
When I set `rejectPublicSuffixes` to `false`, `setCookieSync` throws "CookieJar store is not synchronous; use async API instead.".

Example:

    const tough = require('tough-cookie');
    const cookieJar = new tough.CookieJar({ rejectPublicSuffixes: false });
    cookieJar.setCookieSync('name=value', 'http://cookietest.local/');

Am I missing something or is this a bug?

[2019-07-19 12:07] szmarczak commented on #66
@stash Any updates?

[2019-07-20 00:43] jstewmon commented on #154
@awaterma while you’re looking through my PRs, would you mind taking a look at this too? I still think it is a valid issue.

[2019-07-30 18:20] franciscolourenco commented on #159
👀

[2019-08-21 23:32] awaterma opened #166 "Add .eslintignore for coverage folder"
Eslint can take over 5 minutes to run when coverage has been executed. We should add a .eslintcoverage file that ignores that directory on runs.

[2019-08-30 08:29] KevinGong2013 commented on #132
<img width="1049" alt="Screen Shot 2019-08-30 at 4 25 08 PM" src="https://user-images.githubusercontent.com/5820203/64005489-1e1d6100-cb43-11e9-846e-a9bc1e3e420f.png">

typescript `(cookie instanceof Cookie)` return false.

@awaterma

[2019-08-30 19:13] awaterma commented on #132
I'll take a look once I have a little time, probably over the weekend. We haven't had a release for a bit. We are working on closing out p/r to prepare for an update. Apologies for our tardiness. Pull request would also be appreciated to resolve the issue.

[2019-09-01 16:48] mbrucher commented on #66
Would be great to use this, as I'm currently deep inside trying to use tough cookie getCookies inside a stream of promises, and only tough cookie break my code with no clear way of sorting this out :/

[2019-09-14 08:04] aranmohyeddin commented on #144
@awaterma august has ended. I also have this issue.

[2019-09-16 16:46] awaterma commented on #144
I've created a unit test for this now, working on finding time to resolve the issue.

[2019-09-22 17:49] awaterma commented on #144
Could you two try this with the master branch? I can't reproduce this:

https://github.com/salesforce/tough-cookie/compare/master...awaterma:issue%23144_property_secure

[2019-09-22 18:39] aranmohyeddin commented on #144
I ended up changing my whole authentication system from session auth to JWT auth because I couldn't make cookies and csrf work:D

[2019-09-29 22:53] MichaelDeBoey opened #171 "CHANGELOG for v3.0.1 (and older) missing"
I just saw the package is updated to `v3.0.1`, but I can't find any CHANGELOG to check out the changes.

Would you be so kind to provide us with a decent CHANGELOG please? 🙂

Thanks for all your hard work! 🙂

[2019-10-21 06:06] ecdeveloper commented on #132
It's been almost a year :(

[2019-10-21 15:54] awaterma commented on #132
This is a volunteer effort, with our focus on maintaining the codeline.

Pull Requests are always appreciated, and are what we focus on first. Please take a look at our contributor's agreement.

[2019-10-21 16:51] awaterma commented on #132
I've assigned this to myself; I'll try and pick up when I can. Sorry for our delays.

[2019-11-01 13:21] jamiehaywood commented on #93
any movement on this FeatureRequest?

[2019-11-13 18:23] #160 closed

[2019-11-15 21:04] moltar commented on #26
This caused me a day of pain!

My use case was reading cookies from a JSON file that was created by another process. That process (Puppeteer), which uses the dot notation by default.

E.g. Puppeteer cookie structure is the following:

[code]

I was reading that JSON file manually and then converting it to a tough cookie's `Cookie` object by hand:

[code]

But that leading dot was causing all the c

[2019-11-25 23:51] awaterma opened #174 "Fully implement RFC 6761"
We may need to do more to fully support RFC 6761:

https://tools.ietf.org/html/rfc6761

This issue is to mark a Spike on that for the new 4.x release.

[2019-11-26 13:20] pasieronen opened #175 "Broken in Jest again"
This commit added a workaround for behavior that occurs when using tough-cookie in Jest tests:
https://github.com/salesforce/tough-cookie/commit/d94532db9ea3c971c87224967a4187c4d3ba4981#diff-d721bcd439ec1bdd00213161a426ebd8

But it looks like the recent refactoring in this commit removed this workaround...
https://github.com/salesforce/tough-cookie/commit/08f81419c5beaaa8d076c9eb062f628f258525ae

[2019-12-01 14:45] #81 closed

[2019-12-04 00:55] awaterma commented on #175
Could you please submit a p/r with a unit test so we can keep this from occurring again?

[2019-12-04 00:56] awaterma commented on #175
Otherwise, we'll try to get to this when we can. I'll bring up this issue in our next meeting.

[2019-12-04 18:02] pasieronen commented on #175
@awaterma It took a while to figure out how to create a function that is not `instanceof Function`, but now PR #178 has unit test for this.

[2019-12-08 04:45] ruoho commented on #111
@duper51 Which FileCookieStore were you using?

[2019-12-16 07:16] duper51 commented on #111
I'm gonna take a look at the code I was using to get this to work, I am not sure which I was using.

[2019-12-28 12:30] wenyufei2018 opened #179 "Error during installation"
![捕获](https://user-images.githubusercontent.com/41943990/71543689-d0115080-29b0-11ea-946d-91e2a352ead8.PNG)
Please help me, thank you.

[2019-12-30 05:10] medelibero-sfdc commented on #179
Hi @wenyufei2018,

  How did you try to use tough-cookie? Did you run `npm install` before use?

Thanks,
Mike

[2019-12-30 12:03] wenyufei2018 commented on #179
hi, @medelibero-sfdc

You are right. I do not use tough-cookie.In the bug report, but I found tough-cookie.I don't know why !

Fortunately, I solved the problem by another way.

Thank you for your reply！

[2019-12-30 12:03] #179 closed

[2020-01-01 02:29] issuefiler opened #180 "Why does setCookie require a URL when a Cookie has its domain and path set?"
What’s the point? `Cookie`s are filtered out when you do `getCookies(url)`; so really, what is the point?

[2020-01-02 15:50] awaterma commented on #144
This is not a bug. You can't call a method that takes a callback without a callback.

I wonder though, should we make this an API error? To clarify for users?

@medelibero-sfdc

[2020-01-02 15:51] awaterma commented on #144
@medelibero-sfdc -- let me know what you think, we can open another issue for error handling in async if we want to. I've got a unit test that proves this out -- that's the latest p/r.

[2020-01-02 20:46] medelibero-sfdc commented on #144
@awaterma I agree we should add in some extra error handling for this case so people get at least a more friendly exception. But I agree that this specific issue can be closed out and to create a new issue for the error handling bit.

[2020-01-03 19:31] awaterma commented on #144
Let's discuss in our next meeting. I think we should do the same as NodeJS when callers execute async methods incorrectly; which may very well be nothing. Let's investigate and create a story for how we want things to be, and then prioritize. :)

[2020-01-03 19:31] #144 closed

[2020-01-06 15:37] awaterma commented on #180
I think this would make a good enhancement; we do parse the cookie once it's been passed. I'll bring this up for discussion.

[2020-01-13 19:15] #161 closed

[2020-01-17 13:58] GabrielLomba commented on #132
@awaterma I just hit the exact same `instanceof Cookie` issue but in a different spot in the code.

`Cookiejar.serialize` tries to delete `creationIndex` prop after getting all cookies from the store [here](https://github.com/salesforce/tough-cookie/blob/dcfdd032332ece5e60b732f3371f5e08d9e20cef/lib/cookie.js#L1443) but the condition fails, causing it to try to delete the prop in the original `Cook

[2020-01-17 14:25] awaterma commented on #132
Ill take a look! Thank you for the report!

On Fri, Jan 17, 2020 at 7:59 AM Gabriel Lomba <notifications@github.com>
wrote:

[2020-02-05 00:27] PixnBits commented on #66
Looks like this is coming in [4.x](https://github.com/salesforce/tough-cookie/milestone/4?closed=1) via #157 👍

[2020-02-10 19:49] #175 closed

[2020-02-16 05:06] gajus opened #182 "sameSite has no effect"
[code]

[code]

[2020-02-25 10:31] yvele commented on #88
@gajus did you find a workaround or an alternate library that parses cookies with the same name? See https://github.com/jshttp/cookie/issues/60#issuecomment-590782151

[2020-02-27 15:20] joepie91 commented on #171
Having quickly skimmed the list of commits, it seems that the only breaking change in `v3.0.0` was a bump of the minimum supported Node version (ref [1](https://github.com/salesforce/tough-cookie/commit/16ba441c868b833f0c29141fccecfaae5ce4bba5), [2](https://github.com/salesforce/tough-cookie/pull/138#issuecomment-453765756)).

Of course, a proper CHANGELOG is still needed...

[2020-03-01 17:42] jamiehaywood commented on #93
@awaterma has this been removed from the backlog?

[2020-03-06 00:22] awaterma commented on #182
Is this against our current version (3.0.1)? or master?

[2020-03-06 08:41] neg3ntropy commented on #182
3.0.1 fails.

Can you put out a release with this ASAP? It has become critical by now.

[2020-03-19 18:40] flotwig commented on #182
+1, where is the release with Samesite support? @ShivanKaul's commit to add support was merged in October: https://github.com/salesforce/tough-cookie/commit/553ccdafb8d383d4043f5d28768be2928d02062c

[2020-03-19 18:45] awaterma commented on #182
It's in process. I should be able to do a push to NPM today or tomorrow.

Sorry for the delay; I live and work in Seattle, Washington. It's been difficult to keep focused; especially on volunteer efforts.

[2020-03-19 18:48] flotwig commented on #182
@awaterma Absolutely, no worries, I did not mean to come across as impatient :smile:  Thank you for the update & for all the work you're doing on this lib.

[2020-03-19 18:52] awaterma commented on #182
We're very excited about the update, and i'm glad you are too! I apologize for the delay, and thank you for your understanding!

[2020-03-20 20:52] david-soyez opened #190 "SyntaxError: Unexpected token {"
Meteor build issue brought me here:

https://github.com/salesforce/tough-cookie/blob/master/lib/cookie.js#L40
`const { fromCallback } = require("universalify");`

[code]

[2020-03-26 18:28] flotwig opened #191 "Impossible to distinguish between unspecified SameSite and SameSite=None"
Currently, both of these calls will result in a cookie with `sameSite: 'none'`:

[code]

This means we can't distinguish between `SameSite=None` and no SameSite declaration at all.

This causes problems when attempting to set a default `SameSite` that is *not* 'none'. For example, when trying to emulate the behavior of Chrome and Firefox (both of which are moving towards `SameSite=Lax` as the defa

[2020-03-28 22:03] ShivanKaul commented on #171
Hi all, we've had a change of personnel actively volunteering for this project, and we've been busy closing PRs and doing a 4.0.0 release. A CHANGELOG for 4.x onwards was added in https://github.com/salesforce/tough-cookie/pull/189 but if there's interest in having a retroactive CHANGELOG, PRs welcome!

[2020-03-31 18:08] awaterma commented on #190
We discussed this a bit in p/r 157: https://github.com/salesforce/tough-cookie/pull/157#discussion_r350487135. All versions of NodeJS we support,  *should* handle destructuring parameters, as do modern browsers, so I'm not sure what's going on. More background on this feature [available here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment).

Co

[2020-04-07 04:29] dsoegijono commented on #132
Tried upgrading to 4.0.0 and it still has this error. 😕

[2020-04-07 16:20] awaterma commented on #132
Sorry to be slow on this; I'll put this issue onto our project board and will try and take a look as soon as we can.

[2020-04-07 16:22] awaterma commented on #182
@flotwig -- have you been able to confirm that 4.0.0 is working for you on this issue? Please let us know; I'd like to pull some issues onto our project plan for 4.0.1.

[2020-04-07 18:16] flotwig commented on #182
@awaterma `sameSite` is working as expected for us on tough-cookie@4.0.0 :+1:

[2020-04-10 19:03] Sorunome opened #192 "Cannot delete property 'creationIndex' of [object Object]"
When trying to serializeSync a cookie jar with 4.0.0 getting this:

[code]
This is on a line `new toughCookie.CookieJar(context.cookies).serializeSync()` where `context.cookies` is of type `toughCookie.Store`. Any help would be greatly appreciated!

[2020-04-10 19:37] Sorunome commented on #192
The problem seems to have been not correctly de-duped versions of tough-cookie and thus the `instanceof` check not properly working.

[2020-04-10 19:37] #192 closed

[2020-04-20 18:05] awaterma commented on #159
Closing based on discussion with @ruoho

[2020-04-20 18:05] #159 closed

[2020-04-20 18:05] #162 closed

[2020-04-20 18:06] #166 closed

[2020-04-20 18:07] awaterma commented on #171
We have a new one and we intend on maintaining it going forward.

[2020-04-20 18:07] #171 closed

[2020-04-20 18:08] awaterma commented on #150
Ip-regex has been removed as a dependency:

https://github.com/salesforce/tough-cookie/blob/master/package.json#L104

[2020-04-20 18:08] #150 closed

[2020-04-20 18:09] awaterma commented on #111
We believe this has been fixed in our 4.x release. Please reopen with a test case if there's been a mistake.

[2020-04-20 18:09] #111 closed

[2020-04-20 18:09] awaterma commented on #66
We have both now. Closing.

[2020-04-20 18:10] #66 closed

[2020-04-20 18:11] awaterma commented on #182
We will add a regression test for this issue, and then close.

[2020-04-22 22:28] medelibero-sfdc commented on #147
This has been merged in with pull request 146.

[2020-04-22 22:28] #147 closed

[2020-04-22 22:40] medelibero-sfdc commented on #165
This is not a bug. You just need to call `setCookie` instead of `setCookieSync`.

[2020-04-22 22:40] #165 closed

[2020-04-22 22:52] awaterma commented on #163
Closing this.

[2020-04-22 22:52] #163 closed

[2020-04-29 21:28] phihag opened #194 "getCookiesSync crashes with Uncaught TypeError: Cannot read property 'secure' of undefined"
Just calling `getCookiesSync` crashes out of the box for me with tough-cookie 2.4.3. Am I doing something wrong?

[code]

[2020-04-29 21:30] phihag commented on #194
My mistake; `getCookiesSync` requires a URL as the first argument.

[2020-04-29 21:30] #194 closed

[2020-05-14 15:55] awaterma commented on #143
We now support promises in the 4.x release. I think this issue is asking for better documentation, and some examples? Or should we close this out?

[2020-05-18 16:59] ruoho commented on #182
Looks like @ShivanKaul already had put some good tests in
https://github.com/salesforce/tough-cookie/commit/553ccdafb8d383d4043f5d28768be2928d02062c#diff-028dbfa60a0c655c760e8d25150d4ca6R231

[2020-05-18 17:05] ruoho commented on #10
Correctly parsing cookies with empty / no key was merged in https://github.com/salesforce/tough-cookie/pull/49. Let's create a new issue if we want to investigate the whatwg reference.

[2020-06-15 19:01] ShivanKaul commented on #174
(just leaving a note here that this spike is for both RFC 6761 and 6762 - .local as added in #173 is actually from 6762)

[2020-06-16 12:20] sidx1024 opened #195 "Loose mode flag is not preserved in toJSON() serialization"
`CookieJar.toJSON()` method doesn't preserve looseMode flag. Thus, setting an invalid cookie throws an error (after creating a new instance using `fromJSON()`).

Reproduceable code:
[code]

[2020-06-18 01:51] vsin12 opened #197 "CookieJar().setCookie crashes when empty cookie is passed"
Some sites while setting cookies, send empty cookies which on parsing gives parsing failed error.
A check for cookie.length or cookie != '' is needed and cb(null) should be returned in such cases.

[2020-06-18 01:56] vsin12 commented on #197
I have made a fix and created a PR #196  for this.

[2020-06-18 08:22] vipul24Task commented on #132
The same issue here.
i try to convert date to strtotime
strtotime("2020-06-18 01:51:31");

[2020-06-18 16:43] awaterma commented on #132
Stash was able to reproduce this some time back with Request and Node 8; I'll see if I can add a unit test that reproduces this for us, so we can make some progress.

[2020-06-23 07:03] longhoangwkm opened #198 "How to get raw string from `new tough.CookieJar()`"
Hi, I would like to get raw string of cookie from `new tough.CookieJar()`. I tried to use https://github.com/salesforce/tough-cookie#cookiestring but not works!

cookies.json
[code]

[code]

[2020-07-15 15:24] Lekinio opened #199 "Cannot delete property 'creationIndex' of [object Object]"
hello when i am trying to set new cookie it return this error:

 Cannot delete property 'creationIndex' of [object Object]

cookie:
[code]

cookieJar.setCookie(cookie, 'url');

[2020-07-20 21:45] #182 closed

[2020-07-20 21:48] ShivanKaul commented on #191
Hey @flotwig, this makes sense. We're going to work on this. Sorry for the delay!

[2020-08-24 21:21] ruoho commented on #145
@FabianTe Sorry for the delay, this should be fixed in the latest pull request. Can you verify?

[2020-08-24 21:22] #145 closed

[2020-08-26 21:27] medelibero-sfdc commented on #195
Hi @sidx1024,

  I can recreate this problem. Let me talk with the rest of the team and figure out the best course of action to fix it.

Thanks,
Mike

[2020-09-04 11:32] TeNNoX commented on #154
I also see this problematic behaviour.
My Server sets a Cookie into Insomnia's Cookie jar, the next day I query it again - the creation time is not updated, and thus I can't use the cookie in template variables, as it won't pass the expiry check.

[2020-09-20 22:02] ShivanKaul commented on #198
Hi @longhoangwkm, apologies for the late response. `.cookieString()` is a function defined on a `cookie`; you're trying to call it on a `CookieJar`. Please try `.getCookieString()` instead.

[2020-09-20 22:17] ShivanKaul commented on #198
Additionally, it doesn't look like your cookie string will be parsed correctly - cookie strings have to conform with RFC 6265: https://tools.ietf.org/html/rfc6265#section-4.1.1

[2020-09-20 22:17] #198 closed

[2020-09-21 19:43] ruoho commented on #199
Hi @Lekinio, could you provide the full code here so that we can reproduce? Thanks!

[2020-09-21 21:11] medelibero-sfdc commented on #195
Hi @sidx1024,

  I have committed to master a fix for this issue. Thank you for reporting this to us!

-Mike

[2020-09-21 21:11] #195 closed

[2020-09-21 21:17] ShivanKaul commented on #190
Closing this, please feel free to re-open if the problem persists!

[2020-09-21 21:17] #190 closed

[2020-09-21 21:27] ShivanKaul commented on #93
@jamiehaywood  this was done in #115, going to close this issue.

[2020-09-21 21:27] #93 closed

[2020-09-21 21:30] #10 closed

[2020-09-25 17:03] medelibero-sfdc commented on #123
Hi @fakirpic,

  Not sure if this is still an issue for you. If it is can you show me the code for jardata getting created?

Thanks,
Mike

[2020-09-26 02:01] PCAaron commented on #132
Tried upgrading to 4.0.0 and it still has this error,too.
used Node 8

[2020-09-29 20:33] medelibero-sfdc commented on #132
@PCAaron can you paste in the latest error you are getting?

[2020-09-30 01:19] OwaisSiddiqui opened #205 "Sharing the same cookie jar throughout different Express routes"
I created a `tough-cookie` cookie jar in one route (in a file). I want to share it with another route so that the cookies are stored in the other route (different file) so that using `node-fetch` doesn't start a new session (with the cookies cleared).

I tried using `express-session` and put the cookie jar in it but that does not work.

Code:

`server.js`:

[code]

`login.js`:

[code]

`email.js`

[2020-09-30 07:45] OwaisSiddiqui commented on #205
Okay, I found a way to do it. In the `email` route, I had first had to deserialize the cookie jar from the `req`:

[code]

and then set the `cookie` header for the `node-fetch` request using `cookieJar.getCookieStringSync("<node-fetch URL>")`.

[2020-09-30 07:45] #205 closed

[2020-10-01 21:15] Nisthar commented on #26
@moltar so did you remove the dot from domain?

[2020-10-01 22:41] moltar commented on #26
Yes remove leading dot

[2020-10-02 06:31] Nisthar commented on #26
@moltar I have `www` missing from the domain for a cookie. I tried adding the domain manually.
But i can't set the cookie. It says "Cookie doesn't have www.domain.com as its host"

[2020-10-02 09:10] Setitch commented on #26
New RFC specifies: 5.2.3.  The Domain Attribute how leading "." should be treated when used encountered also some browsers and other libraries had not obsoleted the old rfc yet and are still using it - wouldnt it be good for library to threat it easier for the user?

[2020-10-10 22:19] ShivanKaul opened #206 "Write test cases for PR 173"

[2020-10-10 22:19] ShivanKaul commented on #206
https://github.com/salesforce/tough-cookie/pull/173

[2020-10-11 18:36] #174 closed

[2020-10-20 22:50] awaterma commented on #199
No feedback provided, closing this issue out. Please feel free to reopen if you can pass on the code to reproduce the issue (preferably as a vows based unit test).

[2020-10-23 22:29] awaterma commented on #123
Closing out as we have had no updates on this issue from the OP for over 2 years.

[2020-10-23 22:29] #123 closed

[2020-12-11 02:13] ikv163 commented on #26
Oh, Having the exact same problem.

[2020-12-21 17:48] LouenLeoncoeur opened #208 "cookieJar.fromJSON is not a function"
[code]
This simple code outputs this error.
```cookie.fromJSON is not a function```

 I feel stupid but it seems to me that I am doing it according to docs but the cookieJar doesn't have any import json functions

[2020-12-23 21:47] #208 closed

[2021-02-08 18:08] awaterma commented on #132
I think we have a fix for this now; please take a look: https://github.com/salesforce/tough-cookie/pull/209

[2021-02-09 19:29] rumen-makeen commented on #199
Hi. I'm having the exact same issue at the moment. Here are some basics for reproduction:
1. Using the request library (latest version), after running several requests, I have the following jar:
[code]
2. I run a request using that jar & the request module uses tough-cookie to process the jar.
3. While processing the jar, I get the `Cannot delete property 'creationIndex' of [object Object]` error,

[2021-02-09 19:53] awaterma commented on #199
I'll reopen this and we'll take a look. If you'd like to convert this into a Vows based unit test, that would be very appreciated. :)

[2021-02-16 22:08] #197 closed

[2021-03-11 02:20] GideonSenku commented on #132
![截屏2021-03-11 上午10 19 44](https://user-images.githubusercontent.com/39037656/110725884-4f581080-8253-11eb-85d2-69bdebb5e0a4.png)
Get same Error

[2021-03-24 11:10] mehvvy commented on #154
My reading of RFC6265 is that `expiry-time` and `creation-time` are two distinct fields (Section 5.3), and `creation-time` is not used for expiration at all. Steps 5.3.2 and 5.3.11.3 cover `creation-time` and `expiry-time` is covered by 5.3.3, and sections 5.2.1 and 5.2.2.

[2021-04-14 12:37] ricellis commented on #154
We've just run into this problem too. I agree that the spec is a little ambiguous on this point because it doesn't explicitly describe the behavior of `Max-Age` when a cookie is updated. However, as pointed out by @mehvvy [section 5.2.2](https://tools.ietf.org/html/rfc6265#section-5.2.2) seems to cover this when describing parsing of the `Set-Cookie` header; it says:

This seems to suggest that `M

[2021-04-22 16:05] ricellis commented on #154
@ShivanKaul are you looking into this or any chance this is going to be re-opened?

[2021-04-22 19:05] ShivanKaul commented on #154
@ricellis I recently left Salesforce and sorting out my contribution plans, I'll look at this soon.

[2021-04-26 16:09] ruoho-sfdc opened #211 "Incorrect behavior in permuteDomain where domain has a trailing dot"
permuteDomain behaves incorrectly when called with a domain containing a trailing dot:

    $ cat strange.js
    const tough = require("./lib/cookie");
    console.log('Permuting host.example.com.')
    console.log(tough.permuteDomain("host.example.com."))
    console.log('Permuting host.example.com')
    console.log(tough.permuteDomain("host.example.com"))
    $ node strange.js
    Permuting host

[2021-04-29 22:06] MauriceArikoglu opened #212 "Store's putCookie never called from setCookie?"
I am having issues with a custom Store's methods not being called. I looked through the code in this repo and it seems CookieJar never calls store.putCookie from within setCookie (or any other method)?

[2021-05-05 22:13] awaterma opened #213 "Migrate from Travis to GitHub Actions; actions implementation needs to be kept in sync with NodeJS releases ..."
We need to keep our Travis testing in sycn with NodeJS releases: https://nodejs.org/en/about/releases/

[2021-05-17 21:22] medelibero-sfdc commented on #212
Hello @MauriceArikoglu,

  What do you mean by using a "custom Store's method"? Can you post some of the code you are trying to use so I can replicate the issue?

  Thanks,
  Mike

[2021-05-17 21:26] MauriceArikoglu commented on #212
@medelibero-sfdc hey, thanks for looking into this.
You can setup a spike project and setup a plain object conforming to the Store interface. You will notice its setCookie / putCookie method is never called on CookieJar.setCookie.

Have a look at the implementation for CookieJar.setCookie here: https://github.com/salesforce/tough-cookie/blob/1b25269dbb0478232f910c26386b3cac4ec9d857/lib/cookie.js#L

[2021-05-17 21:29] MauriceArikoglu commented on #212
The full method in question, as its quite big and not so straightforward:

https://github.com/salesforce/tough-cookie/blob/1b25269dbb0478232f910c26386b3cac4ec9d857/lib/cookie.js#L1094-L1277

[2021-05-17 21:31] medelibero-sfdc commented on #212
Yes, and putCookie is called on lines 1240 and 1272.

[2021-05-17 21:40] MauriceArikoglu commented on #212
@medelibero-sfdc
You are right. It seems I lost my ability to read. My bad.

Still, I observed putCookie not being called on my custom Store...

[2021-05-18 17:29] medelibero-sfdc commented on #212
Hi @MauriceArikoglu,

  What do you mean by your custom store? Can you show me the code that is not working?

-Mike

[2021-05-18 18:41] MauriceArikoglu commented on #212
@medelibero-sfdc https://gist.github.com/MauriceArikoglu/0734e2a09ee81d15e0f1c39ad80b39f8

[2021-06-02 15:06] Mr-ZQS opened #214 "i get tunneling error when try with a proxy !"
wrong part xD

[2021-06-02 15:10] #214 closed

[2021-07-16 21:54] jctrvlr commented on #199
I am also having this issue was there any resolution?

[2021-07-19 21:23] awaterma commented on #213
We want to also add another integration testing framework that won't limit our use, but we think we want to retain Travis.

[2021-07-27 08:16] lfdebrux opened #215 "Bug prevents setting cookies with domain=localhost"
When using option `rejectPublicSuffixes: true` (the default), trying to set a cookie with `Domain=localhost` throws the error `Cookie has domain set to a public suffix`, which I believe is incorrect.

## How to reproduce

Run the following code with the latest master of tough-cookie (commit 1b25269)

[code]

## Expected result

I can set cookies with `Domain=localhost` without an error.

## Workar

[2021-08-16 21:19] awaterma opened #217 "Enable Project for use by Typescript Libraries"
We think it would be a good idea to enable this project for use with typescript. We'd want to do this in chunks over time, or in a large pull request that could be reviewed by the team.

https://www.typescriptlang.org/docs/handbook/migrating-from-javascript.html

[2021-08-16 21:30] awaterma commented on #215
We're not seeing `localhost` on the main suffix list: https://publicsuffix.org/list/public_suffix_list.dat

However, `localhost` is a special case domain: https://datatracker.ietf.org/doc/rfc6761/

We are thinking of just updating the error in this case; but I'll let  @ruoho-sfdc comment further.

[2021-09-17 18:47] awaterma commented on #132
This should be closed in p/r #209.

If you can pull down the latest in Git (we haven't released these fixes to NPM yet), this issue should be resolved. If you are still seeing a similar issue, please open a new issue, hopefully with a reproducible test case, so we can take a look.

Thank you!

[2021-09-17 18:47] #132 closed

[2021-09-17 18:50] awaterma commented on #213
Looking at: https://github.com/actions/setup-node, for this work.

[2021-09-27 21:12] #211 closed

[2021-09-27 21:18] #213 closed

[2021-09-28 16:51] awaterma opened #219 "gh-actions for npm needs to install, not use ci"
Update the gh-actions NPM test file to use `npm install` instead of `npm ci`; as we don't have a lock file.

[2021-10-11 08:15] lfdebrux commented on #215
Hi @medelibero-sfdc,

I'm not sure why your setup isn't raising the error... if I checkout the current version of the master branch and run your snippet I do get the error 🤔

[code]

[2021-10-15 16:00] #219 closed

[2021-10-15 16:39] awaterma commented on #215
I've looked into the RFCs for this; and I think our current behavior is acceptable. `localhost` is a special domain, but its behavior in cookies, as a site domain, doesn't seem well defined, as far as I can tell. Please see: https://datatracker.ietf.org/doc/html/rfc6761#section-6.3 and https://datatracker.ietf.org/doc/html/rfc6265#section-5.2.3. In our case, we do allow ".localhost" as a special d

[2021-10-19 15:53] awaterma commented on #215
That's a great suggestion @lfdebrux. I'll see if I can make a better error message, or update the docs a bit to make this behavior more clear for others. :)

[2021-10-22 09:36] lb90 opened #222 "[RFC] Support for React Native"
Hello, thanks for the good work!

I have been using this library on React Native (together with Axios) and so far it's been working ok!

I only had to remove some debug code using the utils module: https://github.com/lb90/tough-cookie/commit/b43b4e9ad25dfc6e035cc50723f39cf3477facae.

Would you be interested in React Native support or do you specifically target just NodeJS? I can provide a PR if su

[2021-11-14 19:35] tch1121 opened #224 "can support deno?"

[2021-12-17 18:36] wjhsf commented on #217
[@types/tough-cookie](https://www.npmjs.com/package/@types/tough-cookie) exists as a community effort. We can definitely provide our own type definitions eventually, but it doesn't necessarily need to be prioritized.

[2021-12-17 18:58] wjhsf commented on #224
Hi @tch1121, thanks for the question! We don't officially support the deno runtime, but I have verified that `tough-cookie` will load if you first set up `require` using the provided [node.js compatibility library](https://deno.land/std@0.116.0/node#commonjs-modules-loading).

[2021-12-20 17:34] #206 closed

[2021-12-20 17:47] awaterma commented on #224
We would like to investigate testing support deno before committing to this project.

[2022-01-10 18:07] colincasey commented on #122
the draft document referenced in this issue, EAT HTTP Cookies is no longer active and based on the following threads:
* [httpwg github issue](https://github.com/httpwg/http-extensions/issues/718)
* [chromium bug tracker](https://bugs.chromium.org/p/chromium/issues/detail?id=749059&q=draft-thomson-http-omnomnom-00&can=2)
* [browser status](https://www.chromestatus.com/feature/5658594150187008)

it

[2022-01-10 18:07] #122 closed

[2022-01-23 20:29] jimmywarting opened #229 "Deprecate callbacks and sync api? enforce promise"
I think the fewer method you have of solving stuff then the easier it is to maintain.
it would also reduce the amount of documentation needed. making it easer to learn

if everyone where enforced to use the async methods then the easier it would also be to swap it out for something else like a database where the only possibility is to use async network IO or like a [CookieStore](https://developer.

[2022-03-01 21:00] wjhsf commented on #229
At a minimum, all APIs that return a promise should be changed to async functions, so that they are guaranteed to only resolve/reject, not resolve/reject/throw.

[2022-03-04 09:57] pe-johndpope commented on #222
need this.

[2022-03-08 14:47] #222 closed

[2022-03-21 16:45] colincasey commented on #143
this should be addressed in #234

[2022-03-21 16:53] awaterma commented on #217
From discussion, it looks like @types/tough-cookie is only supplying types for the Callback versions of our API. So, we may want to invest some effort here to make this clearer in that project, or bundle our own, as we suggest at the top.

@colincasey has committed to take a deeper look at this issue for us.

[2022-03-21 16:57] awaterma commented on #153
Closing out; issue was fixed in a merged p/r.

[2022-03-21 16:57] #153 closed

[2022-03-21 17:01] awaterma commented on #80
Merged in referenced p/r. Closing this out.

[2022-03-21 17:01] #80 closed

[2022-03-21 19:37] MauriceArikoglu commented on #212
@awaterma I think it isn't. I am not a part of the project anymore. IIRC I used a workaround, but it also might've been a mistake on my end. Can be closed I guess :)

[2022-03-21 19:37] #212 closed

[2022-03-31 16:16] GrinZero commented on #180
I think this is stupid. There are all kinds of data in the cookie. Why do I need to pass other parameters? Do setcookie need any additional parameters?

[2022-03-31 16:53] awaterma commented on #180
Let's try and keep the language in our repository positive, @GrinZero! We explain these standards in our code of conduct here:

https://github.com/salesforce/tough-cookie/blob/30246e6c039f91ca33fab2046ffdf7a2d3d8c33c/CODE_OF_CONDUCT.md#our-standards

Please let me know if you have a pull request or change you would like to submit; we are slowly looking at and working over these issues as time goes

[2022-04-01 04:47] GrinZero commented on #180
Sorry, I just want to highlight that this is unreasonable, not to vent my emotions

[2022-04-01 16:32] awaterma commented on #180
I'll try and pick up this issue when I can next @GrinZero; I think @dennismphil got busy with other work, and we left this behind. But I agree; our API should be easier to use, and not require redundant information.

[2022-04-15 18:58] davidofwatkins opened #235 "domainMatch() breaks for URLs with TLD in substring of subdomain"
There's a bug where `domainMatch()` returns `false` unexpectedly when the `domStr` argument (top-level-domain) can be found elsewhere in the domain (`str` argument). For example:

❌  Broken:

[code]

✅  Working:

[code]

The issue appears to come from the `indexOf()` check here:

https://github.com/salesforce/tough-cookie/blob/30246e6c039f91ca33fab2046ffdf7a2d3d8c33c/lib/cookie.js#L371

...causing

[2022-04-18 21:04] colincasey commented on #235
Thanks for the bug report @davidofwatkins.  I'll look into this as soon as possible.  But don't let that deter you from submitting your own PR with a fix if you have one.

[2022-04-21 14:49] #235 closed

[2022-05-05 09:32] jjason685 opened #239 "expensive blocking PSL lookup"
https://github.com/salesforce/tough-cookie/blob/9b101310dd73f55b71e8120f50b9629e91ee0121/lib/pubsuffix-psl.js#L67

at high throughputs, PSL lookups can be quite intensive. for example, with 1000 calls to psl.get, this can take 400 milliseconds, and completely blocks the event loop. this seems to relatively linearly scale with more calls.

a recommendation is to use a simple Map cache; for example,

[2022-05-12 17:27] colincasey commented on #239
@jjason685 thanks for reporting this.  We'll look into adding a cache around the PSL lookup as you suggested.

[2022-05-24 15:53] wjhsf commented on #143
#234 has been merged with updates to the README.

[2022-05-24 15:53] #143 closed

[2022-05-24 15:55] wjhsf commented on #229
Documentation in the README has been updated in #234 to emphasize the promise signatures of methods, where applicable.

We are currently planning on removing callback support in our next major release.

[2022-06-23 18:39] byroncoetsee commented on #154
Experiencing this too.
Also, because storage can't be accessed from the cookieJar object, one can't use handy functions like `updateCookie` or `removeCookie` to get around the problem.

Any ideas or updates? Maybe this has been solved since and I'm missing something?

[2022-06-23 23:26] awaterma commented on #154
We'll discuss this in our next meeting of the team; I'll try my best to look into this before hand. :)

Thanks for asking about this @byroncoetsee and @ricellis

[2022-06-28 07:56] byroncoetsee commented on #154
For anyone landing here, and looking for a simple workaround while this issue gets looked at, here's what I did.
NOTE: Doing it this way will drop things like `creationIndex` etc. It essentially recreates the cookie from scratch - and in doing so, sets the `creationDate` to now.

[code]

[2022-07-27 17:53] #191 closed

[2022-08-02 14:14] 1nbuc opened #243 "Delete single cookie"

[2022-08-10 18:04] abhi-car commented on #85
Hello Everyone, I have few cookies stored with domain .xxxx.local. when i did
`const jar = new CookieJar();
    const cookies = jar.getCookiesSync('http://xxxx.local');

    console.log('cookies', cookies);
    const cookies1 = jar.getCookiesSync('http://app.xxxx.local');

    console.log('cookies', cookies1);
    const cookies2 = jar.getCookiesSync('http://app1.xxxx.local');

    console.log('coo

[2022-08-10 18:04] abhi-car opened #244 "Unable to get Cookies"
Hello Everyone, I have few cookies stored with domain .xxxx.local

when i did

 `
const jar = new CookieJar();
    const cookies = jar.getCookiesSync('http://xxxx.local');

    console.log('cookies', cookies);
    const cookies1 = jar.getCookiesSync('http://app.xxxx.local');

    console.log('cookies', cookies1);
    const cookies2 = jar.getCookiesSync('http://app1.xxxx.local');

    console.log('

[2022-08-19 13:29] colincasey commented on #243
@1nbuc please provide more detail on what specifically you were trying to do and the problem you encountered.

[2022-08-19 13:38] #243 closed

[2022-08-19 15:24] colincasey commented on #244
@abhi-car can you include how are you setting the cookie and creating the cookie store?  Without seeing that I have to assume that those cookies are not being set because `.local` is a special-use domain.

See https://github.com/salesforce/tough-cookie#cookiejarstore-options

[2022-08-22 21:33] Twipped opened #246 "4.1 introduced breaking changes"
Our jest environment just started throwing errors because `allowSpecialUseDomain` is now being more enforced in this new release and `jest-environment-jsdom` doesn't set it. I tried to correct for it via Jest's `testEnvironmentOptions` config passthru, but that produced other problems. You may want to revert that release, it's gonna break a WHOLE LOT of builds.

[2022-08-22 21:36] gbettencourt commented on #246
Also breaking our jest tests.  Don't see any breaking changes mentioned in the release notes.

[2022-08-22 22:28] arpowers commented on #246
Same here! Happy that this isn't a bug on our end, was about to throw the computer out the window.

[2022-08-22 22:43] arpowers commented on #246
@awaterma after reviewing a few things, this is definitely a breaking change and probably causing lots some headaches right now.  Recommend publishing a rollback minor release and pushing v5 with any updates.  For now, we are manually overriding the dep via PNPM as we can't update JSDom ourselves and there provide no easy way of patching this (e.g. to provide the options recommended in the error).

[2022-08-22 23:03] Jhzl2 commented on #246
Our jest environment also failed in our tests. We work on a react app but we don't use tough-cookie. We assume that it is a dependency of some installed library. Could you give me a hand?
<img width="598" alt="image" src="https://user-images.githubusercontent.com/101297509/186033688-6d70ea65-dee4-417b-afa5-bd02ddc20cd9.png">

[2022-08-22 23:18] awaterma commented on #246
I'm sorry this is causing you all some issues! For some background on how to use localhost as a special use domain, please see the discussion and tests in issue #215.

I believe this is coming up for v4.1.0 as @ShivanKaul implemented all of the "special-use" domains per RFC 6761 in the following p/r: https://github.com/salesforce/tough-cookie/pull/203/files, which we included in this release. We v

[2022-08-22 23:23] arpowers commented on #246
Most of us can certainly empathize with these type of challenges so no worries there. We appreciate the work on keeping things compliant.

 End of the day, i think the best course of action is to move this to version 5; as a practice NPM versions should live and die with Semver since things are automatically updated and hard to override (using standard NPM client)...

[2022-08-23 03:01] lyz810 commented on #246
If you are using jest@28.x add
[code]
to jest config file
If you are using earlier version of jest, add
[code]
to jest config file

You can change `https://jestjs.io` to your url
It works on me

https://jestjs.io/docs/upgrading-to-jest28#testurl

[2022-08-23 09:01] privateOmega commented on #246
Broke my environment as well, Is there a simple fix for it, other than to pinpoint to the last version?

[2022-08-23 11:14] MedAmineAyadi96 commented on #246
Faced this problem this morning, quick walkaround is to add
`"tough-cookie": "4.0.0"`
to package.json file

[2022-08-23 11:28] danymarques commented on #246
You can also add as a workaround in your pacakge.json :```  "overrides": {
    "jsdom": {
      "tough-cookie": "4.0.0"
    }
  },```

[2022-08-23 12:03] antonvialibri1 commented on #246
@lyz810 Adding a valid fully qualified domain name for `testEnvironmentOptions.url` worked for us.

[2022-08-23 14:50] AbhaySBhosale commented on #246
New version introduced following error
`Cookie has domain set to the public suffix "localhost" which is a special use domain. To allow this, configure your CookieJar with {allowSpecialUseDomain:true, rejectPublicSuffixes: false}.`

[2022-08-23 15:18] CSchulz commented on #246
Another workaround is setting your own CookieJar for the jsdom environment:

    testEnvironmentOptions: {
      url: 'http://localhost/',
      cookieJar: new toughCookie.CookieJar(undefined, {
        // first option copied from https://github.com/jsdom/jsdom/blob/master/lib/api.js
        // // jsdom cookie jars must be loose by default
        looseMode: true,
        allowSpecialUseDomain: tr

[2022-08-23 16:38] Twipped commented on #246
@CSchulz when I've tried that, I get an error that `this._cookieJar.getCookieStringSync` is not a function

[2022-08-23 16:40] archer56 commented on #246
I have raised a PR to fix the version of tough-cookie to v4.0.0 which should fix the immediate problem

https://github.com/jsdom/jsdom/pull/3420

[2022-08-23 16:51] CSchulz commented on #246
Do you have a more detailled stacktrace?

[2022-08-23 18:26] matthew-dean commented on #246
Ohhh THIS is why all our tests are breaking. 🤦‍♂️

[2022-08-23 18:39] CSchulz opened #247 "pubsuffix-psl isn"

[2022-08-23 18:48] CSchulz opened #248 "pubsuffix-psl isn't recognizing localhost correctly"
I have seen that the implementation of pubsuffix-psl isn't recognizing localhost correctly.

I have checked the complete stacktrace for our local environment using localhost as URL.

[code]

The getPublicSuffix function needs to be called with ignoreError to prevent throwing an error.
In my honest opinion the throw should handle ignoreError and allowSpecialUseDomain cases.

ignoreError: true, allo

[2022-08-23 18:49] CSchulz commented on #246
Related #248

[2022-08-23 18:50] CSchulz commented on #247
See #248

browser user interaction hiccup, I don't know. Sorry for the duplicate issue.

[2022-08-23 18:50] #247 closed

[2022-08-23 19:51] privateOmega commented on #246
This solution totally depends on which package-manager you are using, the overrides key is for npm v8+, for yarn, add it under resolutions and for older npm versions, add a npm-shrinkwrap.json file. or define resolutions and use something like https://www.npmjs.com/package/npm-force-resolutions.

[2022-08-23 20:57] awaterma commented on #248
We really don't need two issues opened on this in the tracker. :) We are working on a fix and a patch release for tomorrow.

Please continue to reference the issue in #246!

[2022-08-23 20:57] #248 closed

[2022-08-24 06:10] marcbrame commented on #246
The changes seem not to be on the version provided by npm. Have you updated the npm package release? @colincasey @awaterma. We still get the same error while running the tests.

[2022-08-24 06:19] marcbrame commented on #246
For all working with **yarn**, you can overwrite the though-cookie version by adding this to your package.json:
[code]
Thanks to @privateOmega

[2022-08-24 07:29] elmarbeckmann commented on #246
Hey @archer56 . This PR was closed and not merged because he (@domenic) is basically saying (and he is right) that you should revert this breaking change. Please do this because this is breaking A LOT of tests. Because it is a breaking change it should have been a major update of the tough-cookie package.

For various reasons our dependency tree is complicated:
[code]
The temporary solutions poste

[2022-08-24 16:52] awaterma commented on #246
We are currently reviewing a p/r that will resolve the issue; once merged we will roll out a new NPM release for tough-cookie to 4.1.1.

Really appreciate everyone's patience as we do our best for tough-cookie and our customers!

[2022-08-24 17:52] gauravshah27 commented on #246
That sounds amazing. Thanks a lot for quick acknowledgement. This is affecting a lot of repositories right now and if you can release 4.1.1 that fixes it - that would be amazing.

[2022-08-24 18:17] awaterma commented on #246
I'll reopen this until we get the 4.1.1 release completed.

[2022-08-24 19:41] awaterma commented on #246
We've released 4.1.1 to NPM:

![Screen Shot 2022-08-24 at 12 39 06 PM](https://user-images.githubusercontent.com/65307/186508262-42f02783-70a2-445e-a754-6612ab803c7b.png)

[2022-08-24 19:47] awaterma commented on #246
Closing this issue; I hope our latest release works well for everyone!

[2022-08-24 20:11] puneetmakkar commented on #246
@awaterma tests are still failing for me at https://github.com/salesforce/tough-cookie/blob/master/lib/pubsuffix-psl.js#L62.
I did a clean install. Am i doing something wrong ?
version: node v14.16.0 npm v6.14.1
npm ls tough-cookie:
├─┬ jest@26.6.0
│ └─┬ @jest/core@26.6.3
│   └─┬ jest-config@26.6.3
│     └─┬ jest-environment-jsdom@26.6.2
│       └─┬ jsdom@16.7.0
│         └── tough-cookie@4.1.1  d

[2022-08-24 20:14] CSchulz commented on #246
Are you using localhost as your url? Then you have to change your url to localhost.local for more details see #248

[2022-08-24 20:25] Ltchoc221 commented on #246
I am also still seeing this issue using 4.1.1:
`  `-- jest@27.5.1
    `-- @jest/core@27.5.1
      `-- jest-config@27.5.1
        `-- jest-environment-jsdom@27.5.1
          `-- jsdom@16.7.0
            `-- tough-cookie@4.1.1`

Did the patch completely revert the change that caused this, or was there a new patch laid over the original change in an attempt to fix?

[2022-08-24 20:29] Uninen commented on #246
4.1.1 doesn't solve the issue for Vitest users because (at least to my knowledge, please correct me if I'm wrong) there's no way to configure jsdom -- our tests are still failing. (The workaround is to override tough-cookie version to 4.0.0)

[code]

[2022-08-24 20:31] gauravshah27 commented on #246
4.1.1 - this does not solve the issue.

[2022-08-24 20:47] gbettencourt commented on #246
4.1.1 not working for me either

[2022-08-24 22:15] kurund opened #251 "Error running jest test"
Hello,

I am getting the following error while running the test suite. UI works fine without any issues.

[code]

Any thoughts how to fix this?

[2022-08-25 03:33] LiuJinYang9527 commented on #246
4.1.1 still not working

[2022-08-25 05:27] rommms07 opened #252 "CookieJar not properly setting initial configuration options?"
Good day,

I was trying to setup my own Preact SSR environment (using JSDOM) when I encountered an issue with setting the options of `new CookieJar(..., <options>)` in the JSDOM options and upon running the server, it gives me an error whenever I am trying to access the cookie store (CookieJar) via `document.cookie`, here is the stack trace:

[code]

Upon reading the `To allow this, configure your

[2022-08-25 06:00] rommms07 commented on #252
Nevermind, I'm gonna close this issue now! I found a work around to this, instead of using a special use domain.. I instead use those that are qualified to the PSL list as my url in the JSDOM options. :P

[2022-08-25 06:00] #252 closed

[2022-08-25 06:40] Tdirmeikis commented on #251
Try to add custom `testURL` property to jest configuration.

Example using jest configuration in package.json
`"jest": {
  "testURL": "https://jestjs.io"
}`

[2022-08-25 07:26] kurund commented on #251
Thank you. This fixes the test failure.

[2022-08-25 07:41] Norfeldt commented on #251
I tried without any luck

[code]

(also tried using `https://jestjs.io` just in case that does some 🪄)

[code]

[2022-08-25 11:11] dolevoper commented on #246
having the same issue with 4.1.1

[2022-08-25 14:16] sebaferreras commented on #251
This seems to be working on my end:

[code]

[2022-08-25 15:28] abah-godaddy commented on #251
Try adding this to your devDependencies or dependencies `"tough-cookie": "4.0.0"`

[2022-08-25 15:59] sanderboon commented on #251
`  testEnvironmentOptions: {
    url: "https://jestjs.io",
  },`

worked for me (jest 29)

[2022-08-25 18:54] awaterma commented on #251
Please try with our latest release, we have updated our treatment of single word domains for `localhost` and `invalid` per RFC 6761: https://www.rfc-editor.org/rfc/rfc6761.html

[2022-08-25 18:56] awaterma commented on #246
We have a new patch for this issue. We believe that we have now resolved a bug for how we treated single word special use domains (localhost and invalid) that should resolve this issue for everyone.

[2022-08-25 19:11] gauravshah27 commented on #246
@awaterma - I can confirm that 4.1.2 is working for us. Really appreciate the ownership on the issue and swiftness with which the patch was released. Thanks a lot.

[2022-08-25 19:23] #246 closed

[2022-08-25 20:22] awaterma commented on #251
This should be fixed in 4.1.2. Please let us know if you see any more issues.

[2022-08-25 20:22] #251 closed

[2022-08-25 20:23] awaterma commented on #224
We are looking into this for 5.x.

[2022-08-25 23:27] awaterma commented on #252
We've corrected this issue for `localhost` and `invalid` special-case special-use domains in 4.1.2. :)

[2022-08-26 00:46] rommms07 commented on #252
Thank you for replying to this post, upon reviewing the recent commits I noticed that this issue was already corrected! I guess this is an issue with `jsdom/jsdom` as they are still using `tough-cookie:4.0.0`

[2022-08-26 03:43] SevenOutman commented on #246
Also confirm 4.1.2 is working here. For users who had trouble with jsdom/jest, you can add `overrides` to your `package.json` and run `npm update tough-cookie` to bump it to the desired version.

[code]

Reference: https://stackoverflow.com/a/64273186

[2022-08-27 14:44] kurund commented on #251
Thank you. I can confirm that it's fixed for me.

[2022-08-29 06:42] dolevoper commented on #246
Also here to confirm the new version works for us :)
Thank you!

[2022-09-29 15:40] benmccann opened #256 "Trailing slash breaks ESM compatibility"
Originally reported in https://github.com/sveltejs/kit/issues/7085

Loading this library in a project that uses Node.js ESM without bundling does not work:

I believe the error is coming from this line:

https://github.com/salesforce/tough-cookie/blob/d4ac5801dd2c2d53eec51329e5380bbffb23bfaf/lib/cookie.js#L32

Is there a reason to have that trailing slash or can it be removed?

[2022-11-15 00:17] awaterma commented on #256
I think the slash isn't required; I'll take a look at our package.json.